{% if flourish.heading == "display" %}
  {% set margin = "data-h2-margin='base(calc((var(--h2-line-height-display) / 2) * 1rem), 0, 0, 0)'" %}
{% elseif flourish.heading == "h1" %}
  {% set margin = "data-h2-margin='base(calc((var(--h2-line-height-h1) / 2) * 1rem), 0, 0, 0)'" %}
{% elseif flourish.heading == "h2" %}
  {% set margin = "data-h2-margin='base(calc((var(--h2-line-height-h2) / 2) * 1rem), 0, 0, 0)'" %}
{% elseif flourish.heading == "h3" %}
  {% set margin = "data-h2-margin='base(calc((var(--h2-line-height-h3) / 2) * 1rem), 0, 0, 0)'" %}
{% elseif flourish.heading == "h4" %}
  {% set margin = "data-h2-margin='base(calc((var(--h2-line-height-h4) / 2) * 1rem), 0, 0, 0)'" %}
{% elseif flourish.heading == "h5" %}
  {% set margin = "data-h2-margin='base(calc((var(--h2-line-height-h5) / 2) * 1rem), 0, 0, 0)'" %}
{% elseif flourish.heading == "h6" %}
  {% set margin = "data-h2-margin='base(calc((var(--h2-line-height-h6) / 2) * 1rem), 0, 0, 0)'" %}
{% endif %}

<div
  data-h2-background-color="base(primary) base:dark(accent)"
  data-h2-height="base(x.25)"
  data-h2-radius="base(rounded)"
  data-h2-width="base(4rem)"
  data-h2-transform="base(translate(0, -25%))"
  {{ margin | safe }}></div>