<a 
  data-h2-color="base(lightest.black) base:hover(primary) base:dark(darker.white) base:focus-visible(black)" 
  data-h2-font-size="base(caption)" 
  data-h2-display="base(inline)"
  data-h2-background-color="base:focus-visible(focus)"
  data-h2-padding="base(x.15, x.25)"
  data-h2-font-weight="base(700)"
  data-h2-position="base(absolute)"
  data-h2-offset="base(50%, auto, auto, -x1)"
  data-h2-text-decoration="base(none)"
  data-h2-outline="base(none)"
  style="transform: translate(0, -50%)"
  href="{{ page.url }}#{{ link.id }}" 
  title="Skip to this section.">
  #</a>