{% set defaults = "data-h2-color='base(black) base:dark(white)' data-h2-text-align='base(center) p-tablet(left)' data-h2-position='base(relative)'" %}

{% if heading.size == "display" %}{% set size = "data-h2-font-size='base(display)'" %}{% endif %}
{% if heading.size == "h1" %}{% set size = "data-h2-font-size='base(h1)'" %}{% endif %}
{% if heading.size == "h2" %}{% set size = "data-h2-font-size='base(h2)'" %}{% endif %}
{% if heading.size == "h3" %}{% set size = "data-h2-font-size='base(h3)'" %}{% endif %}
{% if heading.size == "h4" %}{% set size = "data-h2-font-size='base(h4)'" %}{% endif %}
{% if heading.size == "h5" %}{% set size = "data-h2-font-size='base(h5)'" %}{% endif %}
{% if heading.size == "h6" %}{% set size = "data-h2-font-size='base(h6)'" %}{% endif %}

{% set margin = heading.margin %}

{% if heading.tag == "h1" %}
  {% set props = "data-h2-font-weight='base(700)'" %}
{% elseif heading.tag == "h2" %}
  {% set props = "data-h2-font-weight='base(700)'" %}
{% elseif heading.tag == "h3" %}
  {% set props = "data-h2-font-weight='base(700)'" %}
{% elseif heading.tag == "h4" %}
  {% set props = "data-h2-font-weight='base(700)'" %}
{% elseif heading.tag == "h5" %}
  {% set props = "data-h2-font-weight='base(700)'" %}
{% elseif heading.tag == "h6" %}
  {% set props = "data-h2-font-weight='base(700)'" %}
{% endif %}

<div
  data-h2-display="base(grid)"
  {% if heading.img == null and heading.flourish == null %}
    data-h2-grid-template-columns="base(1fr)"
  {% else %}
    data-h2-grid-template-columns="base(100%) p-tablet(4rem 1fr)"
  {% endif %}
  data-h2-gap="base(x2)"
  data-h2-align-items="base(center)">
  {% if heading.img != null or heading.flourish != null %}
    <div 
      data-h2-position="base(relative)"
      data-h2-height="base(100%)">
      {% if heading.img %}
        <img
          src={{ heading.img.path }}
          alt={{ heading.img.alt }}
          data-h2-position="base(absolute)"
          data-h2-offset="base(50%, auto, auto, 50%)"
          data-h2-transform="base(translate(-50%, -50%) rotate(-15deg))" />
      {% endif %}
      {% if heading.flourish %}
        {% set flourish = {
          heading: heading.size
        } %}
        {% include "components/flourish.njk" %}
      {% endif %}
    </div>
  {% endif %}
  <div>
    <div 
      data-h2-display="base(flex)"
      data-h2-gap="base(x2)"
      data-h2-align-items="base(center)">
      <{{ heading.tag | safe }} id={{ heading.id }} {{ defaults | safe }} {{ size | safe }} {{ margin | safe }} {{ props | safe }}>
        {% set link = {
          id: heading.id
        } %}
        {% include "components/heading-hash.njk" %}
        {{ heading.label | safe }}
      </{{ heading.tag }}>
      {% if heading.link %}
        My link
      {% endif %}
    </div>
  </div>
</div>