/* Colors */
$h2-color-primary: red;
$h2-color-light-primary: rgb(255, 64, 64);
$h2-color-lighter-primary: rgb(255, 128, 128);
$h2-color-lightest-primary: rgb(255, 191, 191);
$h2-color-dark-primary: rgb(191, 0, 0);
$h2-color-darker-primary: rgb(191, 0, 0);
$h2-color-darkest-primary: rgb(191, 0, 0);
$h2-color-secondary: #5CFFEE;
$h2-color-light-secondary: rgb(133, 255, 242);
$h2-color-lighter-secondary: rgb(174, 255, 247);
$h2-color-lightest-secondary: rgb(214, 255, 251);
$h2-color-dark-secondary: rgb(57, 191, 188);
$h2-color-darker-secondary: rgb(57, 191, 188);
$h2-color-darkest-secondary: rgb(57, 191, 188);
$h2-color-accent: #FF5C6D;
$h2-color-light-accent: rgb(255, 133, 146);
$h2-color-lighter-accent: rgb(255, 174, 182);
$h2-color-lightest-accent: rgb(255, 214, 219);
$h2-color-dark-accent: rgb(191, 57, 72);
$h2-color-darker-accent: rgb(191, 57, 72);
$h2-color-darkest-accent: rgb(191, 57, 72);
$h2-color-black: rgba(20, 20, 30, 1);
$h2-color-light-black: rgb(66, 66, 99);
$h2-color-lighter-black: rgb(117, 117, 163);
$h2-color-lightest-black: rgb(186, 186, 209);
$h2-color-dark-black: rgb(14, 14, 23);
$h2-color-darker-black: rgb(14, 14, 23);
$h2-color-darkest-black: rgb(14, 14, 23);
$h2-color-white: rgba(255, 255, 255, 1);
$h2-color-light-white: rgb(255, 255, 255);
$h2-color-lighter-white: rgb(255, 255, 255);
$h2-color-lightest-white: rgb(255, 255, 255);
$h2-color-dark-white: rgb(191, 191, 191);
$h2-color-darker-white: rgb(191, 191, 191);
$h2-color-darkest-white: rgb(191, 191, 191);
/* Gradients */
$h2-gradient-myLinearGradient: linear-gradient(135deg, green, pink, rgba(255, 255, 255, 1));
$h2-gradient-myRadialGradient: radial-gradient(circle at left, green, pink, rgba(255, 255, 255, 1));
/* Containers */
$h2-container-small: 39rem;
$h2-container-medium: 60rem;
$h2-container-large: 80rem;
/* Font families */
$h2-font-family-sans: sans-serif;
$h2-font-family-serif: serif;
$h2-font-family-script: script;
$h2-font-family-mono: monospace;
/* Note that because Sass variables cannot be overwritten inside of media queries, Hydrogen provides a suffixed list of variables for font sizes and line heights, where the suffix is the key to your media query. */
/* Font size (:root) */
$h2-font-size-caption-b: 0.8rem;
$h2-font-size-copy-b: 1rem;
$h2-font-size-h6-b: 1.25rem;
$h2-font-size-h5-b: 1.5625rem;
$h2-font-size-h4-b: 1.953125rem;
$h2-font-size-h3-b: 2.44140625rem;
$h2-font-size-h2-b: 3.0517578125rem;
$h2-font-size-h1-b: 3.814697265625rem;
/* Line heights (:root) */
$h2-line-height-caption-b: 1.3;
$h2-line-height-copy-b: var(--h2-base-line-height);
$h2-line-height-h6-b: 1.04;
$h2-line-height-h5-b: 1.6640000000000001;
$h2-line-height-h4-b: 1.3312;
$h2-line-height-h3-b: 1.0649600000000001;
$h2-line-height-h2-b: 1.2779520000000002;
$h2-line-height-h1-b: 1.0223616000000002;
/* Font size (screen and (min-width: 64em)) */
$h2-font-size-caption-l: 0.7518796992481203rem;
$h2-font-size-copy-l: 1rem;
$h2-font-size-h6-l: 1.33rem;
$h2-font-size-h5-l: 1.7689000000000001rem;
$h2-font-size-h4-l: 2.352637rem;
$h2-font-size-h3-l: 3.12900721rem;
$h2-font-size-h2-l: 4.1615795893000005rem;
$h2-font-size-h1-l: 5.534900853769001rem;
/* Line heights (screen and (min-width: 64em)) */
$h2-line-height-caption-l: 1.2;
$h2-line-height-copy-l: var(--h2-base-line-height);
$h2-line-height-h6-l: 1.8045112781954886;
$h2-line-height-h5-l: 1.3567753971394652;
$h2-line-height-h4-l: 1.02013187754847;
$h2-line-height-h3-l: 1.1505246739268458;
$h2-line-height-h2-l: 1.153408194412878;
$h2-line-height-h1-l: 1.0840302579068402;
/* Font size (screen and (min-width: 100em)) */
$h2-font-size-caption-xl: 0.8rem;
$h2-font-size-copy-xl: 1rem;
$h2-font-size-h6-xl: 1.25rem;
$h2-font-size-h5-xl: 1.5625rem;
$h2-font-size-h4-xl: 1.953125rem;
$h2-font-size-h3-xl: 2.44140625rem;
$h2-font-size-h2-xl: 3.0517578125rem;
$h2-font-size-h1-xl: 3.814697265625rem;
/* Line heights (screen and (min-width: 100em)) */
$h2-line-height-caption-xl: 1.4;
$h2-line-height-copy-xl: var(--h2-base-line-height);
$h2-line-height-h6-xl: 1.1199999999999999;
$h2-line-height-h5-xl: 1.7919999999999998;
$h2-line-height-h4-xl: 1.4336;
$h2-line-height-h3-xl: 1.14688;
$h2-line-height-h2-xl: 1.3762559999999997;
$h2-line-height-h1-xl: 1.1010048;
/* Media queries */
$h2-media-query-b: "null";
$h2-media-query-p: "print";
$h2-media-query-s: "screen and (min-width: 48em)";
$h2-media-query-m: "screen and (min-width: 55em)";
$h2-media-query-l: "screen and (min-width: 64em)";
$h2-media-query-xl: "screen and (min-width: 100em)";
/* Radius */
$h2-radius-rounded: 10px;
/* Shadows */
$h2-shadow-s: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, .2);
$h2-shadow-m: 0 0.25rem 0.5rem -0.05rem rgba(0, 0, 0, .2);
$h2-shadow-l: 0 0.4rem 0.7rem -0.1rem rgba(0, 0, 0, .2);
$h2-shadow-xl: 0 0.55rem 1rem -0.2rem rgba(0, 0, 0, .2);
$h2-shadow-xxl: 0 0.7rem 1.5rem -0.3rem rgba(0, 0, 0, .2);
/* Transition values */
$h2-transition-duration-default: .2s;
$h2-transition-function-ease: ease;
$h2-transition-delay-none: 0s;
/* Whitespace */
/* You can use this whitespace unit and calc functions to match any multiplier used in Hydrogen attributes. */
/* e.g. if you want the x2 multipler, simply write calc(#{$h2-whitespace-unit} * 2) */
$h2-whitespace-unit: undefinedrem;
