:root {
/* Core units */
--h2-base-line-height: 1.4;
--h2-base-whitespace: 1.4;
/* Colors */
--h2-color-primary: #9D5CFF;
--h2-color-light-primary: rgb(182, 133, 255);
--h2-color-lighter-primary: rgb(206, 174, 255);
--h2-color-lightest-primary: rgb(231, 214, 255);
--h2-color-dark-primary: rgb(115, 57, 191);
--h2-color-darker-primary: rgb(77, 38, 128);
--h2-color-darkest-primary: rgb(38, 19, 64);
--h2-color-secondary: #5CFFEE;
--h2-color-light-secondary: rgb(133, 255, 242);
--h2-color-lighter-secondary: rgb(174, 255, 247);
--h2-color-lightest-secondary: rgb(214, 255, 251);
--h2-color-dark-secondary: rgb(57, 191, 188);
--h2-color-darker-secondary: rgb(38, 128, 126);
--h2-color-darkest-secondary: rgb(19, 64, 63);
--h2-color-accent: #FF5C6D;
--h2-color-light-accent: rgb(255, 133, 146);
--h2-color-lighter-accent: rgb(255, 174, 182);
--h2-color-lightest-accent: rgb(255, 214, 219);
--h2-color-dark-accent: rgb(191, 57, 72);
--h2-color-darker-accent: rgb(128, 38, 48);
--h2-color-darkest-accent: rgb(64, 19, 24);
--h2-color-black: rgba(20, 20, 30, 1);
--h2-color-light-black: rgb(66, 66, 99);
--h2-color-lighter-black: rgb(117, 117, 163);
--h2-color-lightest-black: rgb(186, 186, 209);
--h2-color-dark-black: rgb(14, 14, 23);
--h2-color-darker-black: rgb(10, 10, 16);
--h2-color-darkest-black: rgb(5, 5, 8);
--h2-color-white: rgba(255, 255, 255, 1);
--h2-color-light-white: rgb(255, 255, 255);
--h2-color-lighter-white: rgb(255, 255, 255);
--h2-color-lightest-white: rgb(255, 255, 255);
--h2-color-dark-white: rgb(191, 191, 191);
--h2-color-darker-white: rgb(128, 128, 128);
--h2-color-darkest-white: rgb(64, 64, 64);
/* Containers */
--h2-container-small: 39rem;
--h2-container-medium: 60rem;
--h2-container-large: 80rem;
/* Font families */
--h2-font-family-sans: sans-serif;
--h2-font-family-serif: serif;
--h2-font-family-script: script;
--h2-font-family-mono: monospace;
/* Font sizes */
--h2-font-size-caption: calc((1 / 1.2 ) * 1rem);
--h2-font-size-copy: calc(1 * 1rem);
--h2-font-size-h6: calc((1 * 1.2 ) * 1rem);
--h2-font-size-h5: calc(var(--h2-font-size-h6) * 1.2 );
--h2-font-size-h4: calc(var(--h2-font-size-h5) * 1.2 );
--h2-font-size-h3: calc(var(--h2-font-size-h4) * 1.2 );
--h2-font-size-h2: calc(var(--h2-font-size-h3) * 1.2 );
--h2-font-size-h1: calc(var(--h2-font-size-h2) * 1.2 );
/* Line heights */
--h2-line-height-caption: var(--h2-base-line-height);
--h2-line-height-copy: var(--h2-base-line-height);
--h2-line-height-h6: 1.1666666666666667;
--h2-line-height-h5: 1.9444444444444444;
--h2-line-height-h4: 1.6203703703703702;
--h2-line-height-h3: 1.3503086419753085;
--h2-line-height-h2: 1.1252572016460904;
--h2-line-height-h1: 1.406571502057613;
/* Gradients */
--h2-gradient-myLinearGradient: linear-gradient(135deg, green, pink, rgba(255, 255, 255, 1));
--h2-gradient-myRadialGradient: radial-gradient(circle at center, blue, purple, rgba(255, 255, 255, 1));
/* Radius */
--h2-radius-rounded: 10px;
/* Shadows */
--h2-shadow-s: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, .2);
--h2-shadow-m: 0 0.25rem 0.5rem -0.05rem rgba(0, 0, 0, .2);
--h2-shadow-l: 0 0.4rem 0.7rem -0.1rem rgba(0, 0, 0, .2);
--h2-shadow-xl: 0 0.55rem 1rem -0.2rem rgba(0, 0, 0, .2);
--h2-shadow-xxl: 0 0.7rem 1.5rem -0.3rem rgba(0, 0, 0, .2);
/* Transition values */
--h2-transition-duration-default: .2s;
--h2-transition-function-ease: ease;
--h2-transition-delay-none: 0s;
/* Whitespace shortcuts */
/* Note that these are merely for convenience. You can create any calc function you need using the --h2-base-whitespace variable */
--h2-whitespace-1: calc(var(--h2-base-whitespace) * 1);
--h2-whitespace-2: calc(var(--h2-base-whitespace) * 2);
--h2-whitespace-3: calc(var(--h2-base-whitespace) * 3);
--h2-whitespace-4: calc(var(--h2-base-whitespace) * 4);
--h2-whitespace-5: calc(var(--h2-base-whitespace) * 5);
--h2-whitespace-6: calc(var(--h2-base-whitespace) * 6);
--h2-whitespace-7: calc(var(--h2-base-whitespace) * 7);
--h2-whitespace-8: calc(var(--h2-base-whitespace) * 8);
--h2-whitespace-9: calc(var(--h2-base-whitespace) * 9);
--h2-whitespace-10: calc(var(--h2-base-whitespace) * 10);
}
@media screen and (min-width: 73em) {
:root {
/* Core units */
--h2-base-line-height: 2;
--h2-base-whitespace: 2;
/* Font sizes */
--h2-font-size-caption: calc((1 / 1.3 ) * 1rem);
--h2-font-size-copy: calc(1 * 1rem);
--h2-font-size-h6: calc((1 * 1.3 ) * 1rem);
--h2-font-size-h5: calc(var(--h2-font-size-h6) * 1.3 );
--h2-font-size-h4: calc(var(--h2-font-size-h5) * 1.3 );
--h2-font-size-h3: calc(var(--h2-font-size-h4) * 1.3 );
--h2-font-size-h2: calc(var(--h2-font-size-h3) * 1.3 );
--h2-font-size-h1: calc(var(--h2-font-size-h2) * 1.3 );
/* Line heights */
--h2-line-height-caption: var(--h2-base-line-height);
--h2-line-height-copy: var(--h2-base-line-height);
--h2-line-height-h6: 1.5384615384615383;
--h2-line-height-h5: 1.1834319526627217;
--h2-line-height-h4: 1.8206645425580332;
--h2-line-height-h3: 1.4005111865831024;
--h2-line-height-h2: 1.077316297371617;
--h2-line-height-h1: 1.24305726619802;
}
}
@media screen and (min-width: 100em) {
:root {
/* Core units */
--h2-base-line-height: 1.1;
--h2-base-whitespace: 1.1;
/* Font sizes */
--h2-font-size-caption: calc((1 / 1.235 ) * 1rem);
--h2-font-size-copy: calc(1 * 1rem);
--h2-font-size-h6: calc((1 * 1.235 ) * 1rem);
--h2-font-size-h5: calc(var(--h2-font-size-h6) * 1.235 );
--h2-font-size-h4: calc(var(--h2-font-size-h5) * 1.235 );
--h2-font-size-h3: calc(var(--h2-font-size-h4) * 1.235 );
--h2-font-size-h2: calc(var(--h2-font-size-h3) * 1.235 );
--h2-font-size-h1: calc(var(--h2-font-size-h2) * 1.235 );
/* Line heights */
--h2-line-height-caption: var(--h2-base-line-height);
--h2-line-height-copy: var(--h2-base-line-height);
--h2-line-height-h6: 1.7813765182186234;
--h2-line-height-h5: 1.4424101362094115;
--h2-line-height-h4: 1.167943430129078;
--h2-line-height-h3: 1.418554773436127;
--h2-line-height-h2: 1.1486273469118435;
--h2-line-height-h1: 1.2400835054378876;
}
}
