@use "sass:color";

@use "maps/map-media" as mediaMap;
@use "maps/map-color" as colorMap;
@use "maps/map-gradient" as gradientMap;
@use "maps/map-shadow" as shadowMap;

[data-hydrogen="VARVERSION"] {
  @each $mediaKey, $mediaValue in mediaMap.$h2-map-media {
    // Background Color - COLOR[OPACITY]
    @each $colorKey, $colorValue in colorMap.$h2-map-color {
      [data-h2-bg-color*="#{$mediaKey}(#{$colorKey})"] {
        background-color: $colorValue;
      }
    }
    @each $gradientKey, $gradientValue in gradientMap.$h2-map-gradient {
      [data-h2-bg-color*="#{$mediaKey}(#{$gradientKey})"] {
        background-image: #{$gradientValue};
      }
    }
    // Shadows - SIZE
    @each $shadowKey, $shadowValue in shadowMap.$h2-map-shadow {
      [data-h2-shadow*="#{$mediaKey}(#{$shadowKey})"] {
        box-shadow: #{$shadowValue};
      }
    }
  }
}