[data-hydrogen=VARVERSION] [data-h2-bg-color*="base(black)"] {
  background-color: #14141e;
}
[data-hydrogen=VARVERSION] [data-h2-bg-color*="base([light]black)"] {
  background-color: #424263;
}
[data-hydrogen=VARVERSION] [data-h2-bg-color*="base([dark]black)"] {
  background-color: #111119;
}
[data-hydrogen=VARVERSION] [data-h2-bg-color*="base(white)"] {
  background-color: white;
}
[data-hydrogen=VARVERSION] [data-h2-bg-color*="base([light]white)"] {
  background-color: white;
}
[data-hydrogen=VARVERSION] [data-h2-bg-color*="base([dark]white)"] {
  background-color: #d9d9d9;
}
[data-hydrogen=VARVERSION] [data-h2-bg-color*="base(theme-1)"] {
  background-color: purple;
}
[data-hydrogen=VARVERSION] [data-h2-bg-color*="base([light]theme-1)"] {
  background-color: #e000e0;
}
[data-hydrogen=VARVERSION] [data-h2-bg-color*="base([dark]theme-1)"] {
  background-color: #670567;
}
[data-hydrogen=VARVERSION] [data-h2-bg-color*="base(theme-2)"] {
  background-color: yellow;
}
[data-hydrogen=VARVERSION] [data-h2-bg-color*="base([light]theme-2)"] {
  background-color: #ffff40;
}
[data-hydrogen=VARVERSION] [data-h2-bg-color*="base([dark]theme-2)"] {
  background-color: #cece0b;
}
[data-hydrogen=VARVERSION] [data-h2-bg-color*="base(theme-3)"] {
  background-color: #FF0000;
}
[data-hydrogen=VARVERSION] [data-h2-bg-color*="base([light]theme-3)"] {
  background-color: #ff4040;
}
[data-hydrogen=VARVERSION] [data-h2-bg-color*="base([dark]theme-3)"] {
  background-color: #ce0b0b;
}
[data-hydrogen=VARVERSION] [data-h2-bg-color*="base(radial[green][red][blue])"] {
  background-image: radial-gradient(green,red,blue);
}
[data-hydrogen=VARVERSION] [data-h2-bg-color*="base(linear[green][red][blue])"] {
  background-image: linear-gradient(135deg,green,red,blue);
}
[data-hydrogen=VARVERSION] [data-h2-shadow*="base(small)"] {
  box-shadow: 0 .15rem .4rem rgba(0, 0, 0, .3);
}
[data-hydrogen=VARVERSION] [data-h2-shadow*="base(medium)"] {
  box-shadow: 0 .35rem .6rem rgba(0, 0, 0, .3);
}
[data-hydrogen=VARVERSION] [data-h2-shadow*="base(large)"] {
  box-shadow: 0 .6rem .8rem rgba(0, 0, 0, .3);
}
[data-hydrogen=VARVERSION] [data-h2-bg-color*="hugaboo(black)"] {
  background-color: #14141e;
}
[data-hydrogen=VARVERSION] [data-h2-bg-color*="hugaboo([light]black)"] {
  background-color: #424263;
}
[data-hydrogen=VARVERSION] [data-h2-bg-color*="hugaboo([dark]black)"] {
  background-color: #111119;
}
[data-hydrogen=VARVERSION] [data-h2-bg-color*="hugaboo(white)"] {
  background-color: white;
}
[data-hydrogen=VARVERSION] [data-h2-bg-color*="hugaboo([light]white)"] {
  background-color: white;
}
[data-hydrogen=VARVERSION] [data-h2-bg-color*="hugaboo([dark]white)"] {
  background-color: #d9d9d9;
}
[data-hydrogen=VARVERSION] [data-h2-bg-color*="hugaboo(theme-1)"] {
  background-color: purple;
}
[data-hydrogen=VARVERSION] [data-h2-bg-color*="hugaboo([light]theme-1)"] {
  background-color: #e000e0;
}
[data-hydrogen=VARVERSION] [data-h2-bg-color*="hugaboo([dark]theme-1)"] {
  background-color: #670567;
}
[data-hydrogen=VARVERSION] [data-h2-bg-color*="hugaboo(theme-2)"] {
  background-color: yellow;
}
[data-hydrogen=VARVERSION] [data-h2-bg-color*="hugaboo([light]theme-2)"] {
  background-color: #ffff40;
}
[data-hydrogen=VARVERSION] [data-h2-bg-color*="hugaboo([dark]theme-2)"] {
  background-color: #cece0b;
}
[data-hydrogen=VARVERSION] [data-h2-bg-color*="hugaboo(theme-3)"] {
  background-color: #FF0000;
}
[data-hydrogen=VARVERSION] [data-h2-bg-color*="hugaboo([light]theme-3)"] {
  background-color: #ff4040;
}
[data-hydrogen=VARVERSION] [data-h2-bg-color*="hugaboo([dark]theme-3)"] {
  background-color: #ce0b0b;
}
[data-hydrogen=VARVERSION] [data-h2-bg-color*="hugaboo(radial[green][red][blue])"] {
  background-image: radial-gradient(green,red,blue);
}
[data-hydrogen=VARVERSION] [data-h2-bg-color*="hugaboo(linear[green][red][blue])"] {
  background-image: linear-gradient(135deg,green,red,blue);
}
[data-hydrogen=VARVERSION] [data-h2-shadow*="hugaboo(small)"] {
  box-shadow: 0 .15rem .4rem rgba(0, 0, 0, .3);
}
[data-hydrogen=VARVERSION] [data-h2-shadow*="hugaboo(medium)"] {
  box-shadow: 0 .35rem .6rem rgba(0, 0, 0, .3);
}
[data-hydrogen=VARVERSION] [data-h2-shadow*="hugaboo(large)"] {
  box-shadow: 0 .6rem .8rem rgba(0, 0, 0, .3);
}