:root{
/* Core units */
--h2-base-font-size: 100%;
--h2-base-line-height: 1.4;
--h2-base-whitespace: 1.4;
/* Colors */
--h2-color-primary: #9D5CFF;
--h2-color-primary-light: rgb(179, 121, 255);
--h2-color-primary-lighter: rgb(204, 165, 255);
--h2-color-primary-lightest: rgb(230, 210, 255);
--h2-color-primary-dark: rgb(115, 57, 191);
--h2-color-primary-darker: rgb(77, 38, 128);
--h2-color-primary-darkest: rgb(38, 19, 64);
--h2-color-secondary: #5CFFEE;
--h2-color-secondary-light: rgb(121, 255, 252);
--h2-color-secondary-lighter: rgb(165, 255, 253);
--h2-color-secondary-lightest: rgb(210, 255, 254);
--h2-color-secondary-dark: rgb(57, 191, 188);
--h2-color-secondary-darker: rgb(38, 128, 126);
--h2-color-secondary-darkest: rgb(19, 64, 63);
--h2-color-accent: #FF5C6D;
--h2-color-accent-light: rgb(255, 121, 136);
--h2-color-accent-lighter: rgb(255, 165, 176);
--h2-color-accent-lightest: rgb(255, 210, 215);
--h2-color-accent-dark: rgb(191, 57, 72);
--h2-color-accent-darker: rgb(128, 38, 48);
--h2-color-accent-darkest: rgb(64, 19, 24);
--h2-color-black: rgba(20, 20, 30, 1);
--h2-color-black-light: rgb(78, 78, 87);
--h2-color-black-lighter: rgb(137, 137, 143);
--h2-color-black-lightest: rgb(196, 196, 199);
--h2-color-black-dark: rgb(14, 14, 23);
--h2-color-black-darker: rgb(10, 10, 16);
--h2-color-black-darkest: rgb(5, 5, 8);
--h2-color-white: rgba(255, 255, 255, 1);
--h2-color-white-light: rgb(255, 255, 255);
--h2-color-white-lighter: rgb(255, 255, 255);
--h2-color-white-lightest: rgb(255, 255, 255);
--h2-color-white-dark: rgb(191, 191, 191);
--h2-color-white-darker: rgb(128, 128, 128);
--h2-color-white-darkest: rgb(64, 64, 64);
/* Container max widths */
--h2-container-small: 39rem;
--h2-container-medium: 60rem;
--h2-container-large: 80rem;
/* Font families */
--h2-font-family-sans: sans-serif;
--h2-font-family-serif: serif;
--h2-font-family-script: script;
--h2-font-family-mono: monospace;
/* Font sizes and line heights */
--h2-font-size-caption: calc((1 / 1.2 ) * 1rem);
--h2-line-height-caption: var(--h2-base-line-height);
--h2-font-size-copy: calc(1 * 1rem);
--h2-line-height-copy: var(--h2-base-line-height);
--h2-font-size-h6: calc((1 * 1.2 ) * 1rem);
--h2-line-height-h6: 1.1666666666666667;
--h2-font-size-h5: calc(var(--h2-font-size-h6) * 1.2 );
--h2-line-height-h5: 1.9444444444444444;
--h2-font-size-h4: calc(var(--h2-font-size-h5) * 1.2 );
--h2-line-height-h4: 1.6203703703703702;
--h2-font-size-h3: calc(var(--h2-font-size-h4) * 1.2 );
--h2-line-height-h3: 1.3503086419753085;
--h2-font-size-h2: calc(var(--h2-font-size-h3) * 1.2 );
--h2-line-height-h2: 1.1252572016460904;
--h2-font-size-h1: calc(var(--h2-font-size-h2) * 1.2 );
--h2-line-height-h1: 1.406571502057613;
/* Gradients */
--h2-gradient-myLinearGradient: linear-gradient(135deg, green, pink, rgba(255, 255, 255, 1));
--h2-gradient-myRadialGradient: radial-gradient(circle at left, green, pink, rgba(255, 255, 255, 1));
/* Radii */
--h2-radius-rounded: 10px;
/* Radii */
--h2-shadow-s: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, .2);
--h2-shadow-m: 0 0.25rem 0.5rem -0.05rem rgba(0, 0, 0, .2);
--h2-shadow-l: 0 0.4rem 0.7rem -0.1rem rgba(0, 0, 0, .2);
--h2-shadow-xl: 0 0.55rem 1rem -0.2rem rgba(0, 0, 0, .2);
--h2-shadow-xxl: 0 0.7rem 1.5rem -0.3rem rgba(0, 0, 0, .2);
/* Transitions */
--h2-transition-duration-default: .2s;
--h2-transition-function-ease: ease;
--h2-transition-delay-none: 0s;
/* Whitespace shortcuts */
/* Note that these are merely for convenience. You can create any calc function you need using the --h2-base-whitespace variable */
--h2-whitespace-1: calc(var(--h2-base-whitespace) * 1);
--h2-whitespace-2: calc(var(--h2-base-whitespace) * 2);
--h2-whitespace-3: calc(var(--h2-base-whitespace) * 3);
--h2-whitespace-4: calc(var(--h2-base-whitespace) * 4);
--h2-whitespace-5: calc(var(--h2-base-whitespace) * 5);
--h2-whitespace-6: calc(var(--h2-base-whitespace) * 6);
--h2-whitespace-7: calc(var(--h2-base-whitespace) * 7);
--h2-whitespace-8: calc(var(--h2-base-whitespace) * 8);
--h2-whitespace-9: calc(var(--h2-base-whitespace) * 9);
--h2-whitespace-10: calc(var(--h2-base-whitespace) * 10);
}
@media screen and (min-width: 73em){
:root{
/* Core units */
--h2-base-font-size: 112.5%;
--h2-base-line-height: 1.4;
--h2-base-whitespace: 1.4;
/* Font sizes and line heights */
--h2-font-size-caption: calc((1 / 1.2 ) * 1rem);
--h2-line-height-caption: var(--h2-base-line-height);
--h2-font-size-copy: calc(1 * 1rem);
--h2-line-height-copy: var(--h2-base-line-height);
--h2-font-size-h6: calc((1 * 1.2 ) * 1rem);
--h2-line-height-h6: 1.1666666666666667;
--h2-font-size-h5: calc(var(--h2-font-size-h6) * 1.2 );
--h2-line-height-h5: 1.9444444444444444;
--h2-font-size-h4: calc(var(--h2-font-size-h5) * 1.2 );
--h2-line-height-h4: 1.6203703703703702;
--h2-font-size-h3: calc(var(--h2-font-size-h4) * 1.2 );
--h2-line-height-h3: 1.3503086419753085;
--h2-font-size-h2: calc(var(--h2-font-size-h3) * 1.2 );
--h2-line-height-h2: 1.1252572016460904;
--h2-font-size-h1: calc(var(--h2-font-size-h2) * 1.2 );
--h2-line-height-h1: 1.406571502057613;
}
}
html{box-sizing: border-box;}html * {box-sizing: border-box;}html{font-size: var(--h2-base-font-size); line-height: var(--h2-base-line-height);}body {position: relative;}body, h1, h2, h3, h4, h5, h6, p, blockquote, fieldset, figure, aside {margin: 0;}img, iframe {max-width: 100%;}h1, h2, h3, h4, h5, h6 {font-weight: normal;}*:not(pre, code, kbd, samp) {font-family: inherit;}* {line-height: inherit;}span {color: inherit;font-size: inherit;font-weight: inherit;}em {color: inherit;font-size: inherit;font-style: italic;}strong {color: inherit;font-size: inherit;font-weight: 600;}a {color: inherit;font-size: inherit;font-weight: inherit;text-decoration: underline;}button {font-family: inherit; font-size: var(--h2-font-size-copy); line-height: var(--h2-line-height-copy);}input {font-family: inherit; font-size: var(--h2-font-size-copy); line-height: var(--h2-line-height-copy);}select {font-family: inherit; font-size: var(--h2-font-size-copy); line-height: var(--h2-line-height-copy);}textarea {font-family: inherit; font-size: var(--h2-font-size-copy); line-height: var(--h2-line-height-copy);}ul, ol, dl {margin: 0;}li {color: inherit;font-size: inherit;margin: 0;}caption, label {font-size: var(--h2-font-size-caption);line-height: var(--h2-line-height-caption);}p {font-size: var(--h2-font-size-copy);line-height: var(--h2-line-height-copy);}h6 {font-size: var(--h2-font-size-h6);line-height: var(--h2-line-height-h6);}h5 {font-size: var(--h2-font-size-h5);line-height: var(--h2-line-height-h5);}h4 {font-size: var(--h2-font-size-h4);line-height: var(--h2-line-height-h4);}h3 {font-size: var(--h2-font-size-h3);line-height: var(--h2-line-height-h3);}h2 {font-size: var(--h2-font-size-h2);line-height: var(--h2-line-height-h2);}h1 {font-size: var(--h2-font-size-h1);line-height: var(--h2-line-height-h1);}
/* base - light - default */
[data-h2] [data-h2-font-family*="base(sans)"]{font-family: var(--h2-font-family-sans);}
/* base - dark - default */
/* base - light - visited */
/* base - dark - visited */
/* base - light - checked */
/* base - dark - checked */
/* base - light - link */
/* base - dark - link */
/* base - light - enabled */
/* base - dark - enabled */
/* base - light - optional */
/* base - dark - optional */
/* base - light - required */
/* base - dark - required */
/* base - light - valid */
/* base - dark - valid */
/* base - light - invalid */
/* base - dark - invalid */
/* base - light - hover */
@media (hover: hover) {
}
/* base - dark - hover */
@media (hover: hover) {
}
/* base - light - disabled */
/* base - dark - disabled */
/* base - light - focus-visible */
/* base - dark - focus-visible */
/* base - light - focus */
/* base - dark - focus */
/* base - light - active */
/* base - dark - active */
/* print - light - default */
@media print {
}
/* print - dark - default */
@media print {
}
/* print - light - visited */
@media print {
}
/* print - dark - visited */
@media print {
}
/* print - light - checked */
@media print {
}
/* print - dark - checked */
@media print {
}
/* print - light - link */
@media print {
}
/* print - dark - link */
@media print {
}
/* print - light - enabled */
@media print {
}
/* print - dark - enabled */
@media print {
}
/* print - light - optional */
@media print {
}
/* print - dark - optional */
@media print {
}
/* print - light - required */
@media print {
}
/* print - dark - required */
@media print {
}
/* print - light - valid */
@media print {
}
/* print - dark - valid */
@media print {
}
/* print - light - invalid */
@media print {
}
/* print - dark - invalid */
@media print {
}
/* print - light - hover */
@media print and (hover: hover) {
}
/* print - dark - hover */
@media print and (hover: hover) {
}
/* print - light - disabled */
@media print {
}
/* print - dark - disabled */
@media print {
}
/* print - light - focus-visible */
@media print {
}
/* print - dark - focus-visible */
@media print {
}
/* print - light - focus */
@media print {
}
/* print - dark - focus */
@media print {
}
/* print - light - active */
@media print {
}
/* print - dark - active */
@media print {
}
/* p-tablet - light - default */
@media screen and (min-width: 48em) {
}
/* p-tablet - dark - default */
@media screen and (min-width: 48em) {
}
/* p-tablet - light - visited */
@media screen and (min-width: 48em) {
}
/* p-tablet - dark - visited */
@media screen and (min-width: 48em) {
}
/* p-tablet - light - checked */
@media screen and (min-width: 48em) {
}
/* p-tablet - dark - checked */
@media screen and (min-width: 48em) {
}
/* p-tablet - light - link */
@media screen and (min-width: 48em) {
}
/* p-tablet - dark - link */
@media screen and (min-width: 48em) {
}
/* p-tablet - light - enabled */
@media screen and (min-width: 48em) {
}
/* p-tablet - dark - enabled */
@media screen and (min-width: 48em) {
}
/* p-tablet - light - optional */
@media screen and (min-width: 48em) {
}
/* p-tablet - dark - optional */
@media screen and (min-width: 48em) {
}
/* p-tablet - light - required */
@media screen and (min-width: 48em) {
}
/* p-tablet - dark - required */
@media screen and (min-width: 48em) {
}
/* p-tablet - light - valid */
@media screen and (min-width: 48em) {
}
/* p-tablet - dark - valid */
@media screen and (min-width: 48em) {
}
/* p-tablet - light - invalid */
@media screen and (min-width: 48em) {
}
/* p-tablet - dark - invalid */
@media screen and (min-width: 48em) {
}
/* p-tablet - light - hover */
@media screen and (min-width: 48em) and (hover: hover) {
}
/* p-tablet - dark - hover */
@media screen and (min-width: 48em) and (hover: hover) {
}
/* p-tablet - light - disabled */
@media screen and (min-width: 48em) {
}
/* p-tablet - dark - disabled */
@media screen and (min-width: 48em) {
}
/* p-tablet - light - focus-visible */
@media screen and (min-width: 48em) {
}
/* p-tablet - dark - focus-visible */
@media screen and (min-width: 48em) {
}
/* p-tablet - light - focus */
@media screen and (min-width: 48em) {
}
/* p-tablet - dark - focus */
@media screen and (min-width: 48em) {
}
/* p-tablet - light - active */
@media screen and (min-width: 48em) {
}
/* p-tablet - dark - active */
@media screen and (min-width: 48em) {
}
/* l-tablet - light - default */
@media screen and (min-width: 73em) {
}
/* l-tablet - dark - default */
@media screen and (min-width: 73em) {
}
/* l-tablet - light - visited */
@media screen and (min-width: 73em) {
}
/* l-tablet - dark - visited */
@media screen and (min-width: 73em) {
}
/* l-tablet - light - checked */
@media screen and (min-width: 73em) {
}
/* l-tablet - dark - checked */
@media screen and (min-width: 73em) {
}
/* l-tablet - light - link */
@media screen and (min-width: 73em) {
}
/* l-tablet - dark - link */
@media screen and (min-width: 73em) {
}
/* l-tablet - light - enabled */
@media screen and (min-width: 73em) {
}
/* l-tablet - dark - enabled */
@media screen and (min-width: 73em) {
}
/* l-tablet - light - optional */
@media screen and (min-width: 73em) {
}
/* l-tablet - dark - optional */
@media screen and (min-width: 73em) {
}
/* l-tablet - light - required */
@media screen and (min-width: 73em) {
}
/* l-tablet - dark - required */
@media screen and (min-width: 73em) {
}
/* l-tablet - light - valid */
@media screen and (min-width: 73em) {
}
/* l-tablet - dark - valid */
@media screen and (min-width: 73em) {
}
/* l-tablet - light - invalid */
@media screen and (min-width: 73em) {
}
/* l-tablet - dark - invalid */
@media screen and (min-width: 73em) {
}
/* l-tablet - light - hover */
@media screen and (min-width: 73em) and (hover: hover) {
}
/* l-tablet - dark - hover */
@media screen and (min-width: 73em) and (hover: hover) {
}
/* l-tablet - light - disabled */
@media screen and (min-width: 73em) {
}
/* l-tablet - dark - disabled */
@media screen and (min-width: 73em) {
}
/* l-tablet - light - focus-visible */
@media screen and (min-width: 73em) {
}
/* l-tablet - dark - focus-visible */
@media screen and (min-width: 73em) {
}
/* l-tablet - light - focus */
@media screen and (min-width: 73em) {
}
/* l-tablet - dark - focus */
@media screen and (min-width: 73em) {
}
/* l-tablet - light - active */
@media screen and (min-width: 73em) {
}
/* l-tablet - dark - active */
@media screen and (min-width: 73em) {
}
/* laptop - light - default */
@media screen and (min-width: 80em) {
}
/* laptop - dark - default */
@media screen and (min-width: 80em) {
}
/* laptop - light - visited */
@media screen and (min-width: 80em) {
}
/* laptop - dark - visited */
@media screen and (min-width: 80em) {
}
/* laptop - light - checked */
@media screen and (min-width: 80em) {
}
/* laptop - dark - checked */
@media screen and (min-width: 80em) {
}
/* laptop - light - link */
@media screen and (min-width: 80em) {
}
/* laptop - dark - link */
@media screen and (min-width: 80em) {
}
/* laptop - light - enabled */
@media screen and (min-width: 80em) {
}
/* laptop - dark - enabled */
@media screen and (min-width: 80em) {
}
/* laptop - light - optional */
@media screen and (min-width: 80em) {
}
/* laptop - dark - optional */
@media screen and (min-width: 80em) {
}
/* laptop - light - required */
@media screen and (min-width: 80em) {
}
/* laptop - dark - required */
@media screen and (min-width: 80em) {
}
/* laptop - light - valid */
@media screen and (min-width: 80em) {
}
/* laptop - dark - valid */
@media screen and (min-width: 80em) {
}
/* laptop - light - invalid */
@media screen and (min-width: 80em) {
}
/* laptop - dark - invalid */
@media screen and (min-width: 80em) {
}
/* laptop - light - hover */
@media screen and (min-width: 80em) and (hover: hover) {
}
/* laptop - dark - hover */
@media screen and (min-width: 80em) and (hover: hover) {
}
/* laptop - light - disabled */
@media screen and (min-width: 80em) {
}
/* laptop - dark - disabled */
@media screen and (min-width: 80em) {
}
/* laptop - light - focus-visible */
@media screen and (min-width: 80em) {
}
/* laptop - dark - focus-visible */
@media screen and (min-width: 80em) {
}
/* laptop - light - focus */
@media screen and (min-width: 80em) {
}
/* laptop - dark - focus */
@media screen and (min-width: 80em) {
}
/* laptop - light - active */
@media screen and (min-width: 80em) {
}
/* laptop - dark - active */
@media screen and (min-width: 80em) {
}
/* desktop - light - default */
@media screen and (min-width: 100em) {
}
/* desktop - dark - default */
@media screen and (min-width: 100em) {
}
/* desktop - light - visited */
@media screen and (min-width: 100em) {
}
/* desktop - dark - visited */
@media screen and (min-width: 100em) {
}
/* desktop - light - checked */
@media screen and (min-width: 100em) {
}
/* desktop - dark - checked */
@media screen and (min-width: 100em) {
}
/* desktop - light - link */
@media screen and (min-width: 100em) {
}
/* desktop - dark - link */
@media screen and (min-width: 100em) {
}
/* desktop - light - enabled */
@media screen and (min-width: 100em) {
}
/* desktop - dark - enabled */
@media screen and (min-width: 100em) {
}
/* desktop - light - optional */
@media screen and (min-width: 100em) {
}
/* desktop - dark - optional */
@media screen and (min-width: 100em) {
}
/* desktop - light - required */
@media screen and (min-width: 100em) {
}
/* desktop - dark - required */
@media screen and (min-width: 100em) {
}
/* desktop - light - valid */
@media screen and (min-width: 100em) {
}
/* desktop - dark - valid */
@media screen and (min-width: 100em) {
}
/* desktop - light - invalid */
@media screen and (min-width: 100em) {
}
/* desktop - dark - invalid */
@media screen and (min-width: 100em) {
}
/* desktop - light - hover */
@media screen and (min-width: 100em) and (hover: hover) {
}
/* desktop - dark - hover */
@media screen and (min-width: 100em) and (hover: hover) {
}
/* desktop - light - disabled */
@media screen and (min-width: 100em) {
}
/* desktop - dark - disabled */
@media screen and (min-width: 100em) {
}
/* desktop - light - focus-visible */
@media screen and (min-width: 100em) {
}
/* desktop - dark - focus-visible */
@media screen and (min-width: 100em) {
}
/* desktop - light - focus */
@media screen and (min-width: 100em) {
}
/* desktop - dark - focus */
@media screen and (min-width: 100em) {
}
/* desktop - light - active */
@media screen and (min-width: 100em) {
}
/* desktop - dark - active */
@media screen and (min-width: 100em) {
}