:root{
/* Core units */
--h2-base-font-size: 100%;
--h2-base-line-height: 1.4;
--h2-base-whitespace: 1.4;
/* Colors */
--h2-color-white: 255, 255, 255;
--h2-color-white-light: 255, 255, 255;
--h2-color-white-lighter: 255, 255, 255;
--h2-color-white-lightest: 255, 255, 255;
--h2-color-white-dark: 191, 191, 191;
--h2-color-white-darker: 128, 128, 128;
--h2-color-white-darkest: 64, 64, 64;
--h2-color-black: 33, 33, 48;
--h2-color-black-light: 87, 87, 101;
--h2-color-black-lighter: 143, 143, 152;
--h2-color-black-lightest: 199, 199, 204;
--h2-color-black-dark: 24, 24, 37;
--h2-color-black-darker: 16, 16, 25;
--h2-color-black-darkest: 8, 8, 12;
--h2-color-primary: 157, 92, 255;
--h2-color-primary-light: 179, 121, 255;
--h2-color-primary-lighter: 204, 165, 255;
--h2-color-primary-lightest: 230, 210, 255;
--h2-color-primary-dark: 115, 57, 191;
--h2-color-primary-darker: 77, 38, 128;
--h2-color-primary-darkest: 38, 19, 64;
--h2-color-accent: 83, 255, 224;
--h2-color-accent-light: 113, 255, 240;
--h2-color-accent-lighter: 160, 255, 245;
--h2-color-accent-lightest: 208, 255, 250;
--h2-color-accent-dark: 49, 191, 176;
--h2-color-accent-darker: 33, 128, 118;
--h2-color-accent-darkest: 16, 64, 59;
--h2-color-focus: 251, 206, 58;
--h2-color-focus-light: 255, 226, 93;
--h2-color-focus-lighter: 255, 236, 147;
--h2-color-focus-lightest: 255, 245, 201;
--h2-color-focus-dark: 191, 162, 29;
--h2-color-focus-darker: 128, 108, 19;
--h2-color-focus-darkest: 64, 54, 10;
/* Container widths */
--h2-container-small: 39rem;
--h2-container-medium: 75rem;
--h2-container-large: 90rem;
/* Font families */
--h2-font-family-sans: 'Inter', sans-serif;
--h2-font-family-serif: serif;
--h2-font-family-script: script;
--h2-font-family-mono: monospace;
/* Font sizes and line heights */
--h2-font-size-caption: calc((1 / 1.25 ) * 1rem);
--h2-line-height-caption: var(--h2-base-line-height);
--h2-font-size-copy: 1rem;
--h2-line-height-copy: var(--h2-base-line-height);
--h2-font-size-h6: calc((1 * 1.25 ) * 1rem);
--h2-line-height-h6: 1.1199999999999999;
--h2-font-size-h5: calc(var(--h2-font-size-h6) * 1.25 );
--h2-line-height-h5: 1.7919999999999998;
--h2-font-size-h4: calc(var(--h2-font-size-h5) * 1.25 );
--h2-line-height-h4: 1.4336;
--h2-font-size-h3: calc(var(--h2-font-size-h4) * 1.25 );
--h2-line-height-h3: 1.14688;
--h2-font-size-h2: calc(var(--h2-font-size-h3) * 1.25 );
--h2-line-height-h2: 1.3762559999999997;
--h2-font-size-h1: calc(var(--h2-font-size-h2) * 1.25 );
--h2-line-height-h1: 1.1010048;
--h2-font-size-display: calc(var(--h2-font-size-h1) * 1.25 );
--h2-line-height-display: 1.1744051199999999;
/* Gradients */
--h2-gradient-divider: linear-gradient(90deg, #53FFE0, #9D5CFF);
--h2-gradient-fallback-divider: #53FFE0;
--h2-gradient-primaryRadial: radial-gradient(rgba(157,92,255, 1), rgba(42, 44, 61, 1));
--h2-gradient-fallback-primaryRadial: rgba(157,92,255, 1);
--h2-gradient-accentRadial: radial-gradient(rgba(83, 255, 224, 1), rgba(42, 44, 61, 1));
--h2-gradient-fallback-accentRadial: rgba(83, 255, 224, 1);
/* Radii */
--h2-radius-rounded: 10px;
--h2-radius-pill: 50rem;
--h2-radius-circle: 100%;
/* Shadows */
--h2-shadow-small: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, .2);
--h2-shadow-medium: 0 0.25rem 0.5rem -0.05rem rgba(0, 0, 0, .2);
--h2-shadow-large: 0 0.4rem 0.7rem -0.1rem rgba(0, 0, 0, .2);
--h2-shadow-larger: 0 0.55rem 1rem -0.2rem rgba(0, 0, 0, .2);
--h2-shadow-largest: 0 0.7rem 1.5rem -0.3rem rgba(0, 0, 0, .2);
}
[data-h2*="dark"]{
/* Colors */
--h2-color-white: 33, 33, 48;
--h2-color-white-light: 87, 87, 101;
--h2-color-white-lighter: 143, 143, 152;
--h2-color-white-lightest: 199, 199, 204;
--h2-color-white-dark: 24, 24, 37;
--h2-color-white-darker: 16, 16, 25;
--h2-color-white-darkest: 8, 8, 12;
--h2-color-black: 255, 255, 255;
--h2-color-black-light: 255, 255, 255;
--h2-color-black-lighter: 255, 255, 255;
--h2-color-black-lightest: 255, 255, 255;
--h2-color-black-dark: 191, 191, 191;
--h2-color-black-darker: 128, 128, 128;
--h2-color-black-darkest: 64, 64, 64;
/* Container widths */
/* Font families */
/* Gradients */
/* Radii */
/* Shadows */
--h2-shadow-small: 0 0.1rem 0.2rem 0 rgba(255, 255, 255, .2);
--h2-shadow-medium: 0 0.25rem 0.5rem -0.05rem rgba(255, 255, 255, .2);
--h2-shadow-large: 0 0.4rem 0.7rem -0.1rem rgba(255, 255, 255, .2);
--h2-shadow-larger: 0 0.55rem 1rem -0.2rem rgba(255, 255, 255, .2);
--h2-shadow-largest: 0 0.7rem 1.5rem -0.3rem rgba(255, 255, 255, .2);
}
[data-h2*="theme"]{
/* Core units */
--h2-base-font-size: 120%;
--h2-base-line-height: 1.5;
--h2-base-whitespace: 1.5;
/* Colors */
--h2-color-primary: 238, 52, 130;
--h2-color-primary-light: 255, 89, 159;
--h2-color-primary-lighter: 255, 144, 191;
--h2-color-primary-lightest: 255, 200, 223;
--h2-color-primary-dark: 191, 25, 95;
--h2-color-primary-darker: 128, 17, 64;
--h2-color-primary-darkest: 64, 8, 32;
--h2-color-accent: 244, 177, 47;
--h2-color-accent-light: 255, 201, 84;
--h2-color-accent-lighter: 255, 219, 141;
--h2-color-accent-lightest: 255, 237, 198;
--h2-color-accent-dark: 191, 138, 21;
--h2-color-accent-darker: 128, 92, 14;
--h2-color-accent-darkest: 64, 46, 7;
--h2-color-focus: 47, 115, 244;
--h2-color-focus-light: 84, 145, 255;
--h2-color-focus-lighter: 141, 182, 255;
--h2-color-focus-lightest: 198, 219, 255;
--h2-color-focus-dark: 21, 82, 191;
--h2-color-focus-darker: 14, 55, 128;
--h2-color-focus-darkest: 7, 27, 64;
/* Font families */
--h2-font-family-sans: 'Open Sans', sans-serif;
--h2-font-family-serif: serif;
--h2-font-family-script: script;
--h2-font-family-mono: monospace;
/* Font sizes and line heights */
--h2-font-size-caption: calc((1 / 1.33 ) * 1rem);
--h2-line-height-caption: var(--h2-base-line-height);
--h2-font-size-copy: 1rem;
--h2-line-height-copy: var(--h2-base-line-height);
--h2-font-size-h6: calc((1 * 1.33 ) * 1rem);
--h2-line-height-h6: 1.1278195488721805;
--h2-font-size-h5: calc(var(--h2-font-size-h6) * 1.33 );
--h2-line-height-h5: 1.6959692464243314;
--h2-font-size-h4: calc(var(--h2-font-size-h5) * 1.33 );
--h2-line-height-h4: 1.2751648469355876;
--h2-font-size-h3: calc(var(--h2-font-size-h4) * 1.33 );
--h2-line-height-h3: 1.4381558424085574;
--h2-font-size-h2: calc(var(--h2-font-size-h3) * 1.33 );
--h2-line-height-h2: 1.081320182262073;
--h2-font-size-h1: calc(var(--h2-font-size-h2) * 1.33 );
--h2-line-height-h1: 1.0840302579068402;
--h2-font-size-display: calc(var(--h2-font-size-h1) * 1.33 );
--h2-line-height-display: 1.0188254303635715;
/* Gradients */
--h2-gradient-divider: linear-gradient(90deg, #EE3482, #F4B12F);
--h2-gradient-fallback-divider: #EE3482;
--h2-gradient-primaryRadial: radial-gradient(rgba(238, 52, 130, 1), rgba(42, 44, 61, 1));
--h2-gradient-fallback-primaryRadial: rgba(238, 52, 130, 1);
--h2-gradient-accentRadial: radial-gradient(rgba(244, 177, 47, 1), rgba(42, 44, 61, 1));
--h2-gradient-fallback-accentRadial: rgba(244, 177, 47, 1);
}
[data-h2*="dark"][data-h2*="theme"]{
/* Colors */
/* Font families */
/* Gradients */
}
@media screen and (min-width: 100em){
:root {
/* Core units */
--h2-base-font-size: 112.5%;
--h2-base-line-height: 1.4;
--h2-base-whitespace: 1.4;
/* Font sizes and line heights */
--h2-font-size-caption: calc((1 / 1.25 ) * 1rem);
--h2-line-height-caption: var(--h2-base-line-height);
--h2-font-size-copy: 1rem;
--h2-line-height-copy: var(--h2-base-line-height);
--h2-font-size-h6: calc((1 * 1.25 ) * 1rem);
--h2-line-height-h6: 1.1199999999999999;
--h2-font-size-h5: calc(var(--h2-font-size-h6) * 1.25 );
--h2-line-height-h5: 1.7919999999999998;
--h2-font-size-h4: calc(var(--h2-font-size-h5) * 1.25 );
--h2-line-height-h4: 1.4336;
--h2-font-size-h3: calc(var(--h2-font-size-h4) * 1.25 );
--h2-line-height-h3: 1.14688;
--h2-font-size-h2: calc(var(--h2-font-size-h3) * 1.25 );
--h2-line-height-h2: 1.3762559999999997;
--h2-font-size-h1: calc(var(--h2-font-size-h2) * 1.25 );
--h2-line-height-h1: 1.1010048;
--h2-font-size-display: calc(var(--h2-font-size-h1) * 1.25 );
--h2-line-height-display: 1.1744051199999999;
}
}
@media screen and (min-width: 100em){
 [data-h2*="theme"]{
/* Core units */
--h2-base-font-size: 150%;
--h2-base-line-height: 1.5;
--h2-base-whitespace: 1.5;
/* Font sizes and line heights */
--h2-font-size-caption: calc((1 / 1.33 ) * 1rem);
--h2-line-height-caption: var(--h2-base-line-height);
--h2-font-size-copy: 1rem;
--h2-line-height-copy: var(--h2-base-line-height);
--h2-font-size-h6: calc((1 * 1.33 ) * 1rem);
--h2-line-height-h6: 1.1278195488721805;
--h2-font-size-h5: calc(var(--h2-font-size-h6) * 1.33 );
--h2-line-height-h5: 1.6959692464243314;
--h2-font-size-h4: calc(var(--h2-font-size-h5) * 1.33 );
--h2-line-height-h4: 1.2751648469355876;
--h2-font-size-h3: calc(var(--h2-font-size-h4) * 1.33 );
--h2-line-height-h3: 1.4381558424085574;
--h2-font-size-h2: calc(var(--h2-font-size-h3) * 1.33 );
--h2-line-height-h2: 1.081320182262073;
--h2-font-size-h1: calc(var(--h2-font-size-h2) * 1.33 );
--h2-line-height-h1: 1.0840302579068402;
--h2-font-size-display: calc(var(--h2-font-size-h1) * 1.33 );
--h2-line-height-display: 1.0188254303635715;
}
}