:root{
/* Core units */
--h2-base-font-size: 100%;
--h2-base-line-height: 1.4;
--h2-base-whitespace: 1.4;
/* Colors */
--h2-color-white: 255, 255, 255;
--h2-color-white-locked: 255, 255, 255;
--h2-color-white-light: 255, 255, 255;
--h2-color-white-light-locked: 255, 255, 255;
--h2-color-white-lighter: 255, 255, 255;
--h2-color-white-lighter-locked: 255, 255, 255;
--h2-color-white-lightest: 255, 255, 255;
--h2-color-white-lightest-locked: 255, 255, 255;
--h2-color-white-dark: 191, 191, 191;
--h2-color-white-dark-locked: 191, 191, 191;
--h2-color-white-darker: 128, 128, 128;
--h2-color-white-darker-locked: 128, 128, 128;
--h2-color-white-darkest: 64, 64, 64;
--h2-color-white-darkest-locked: 64, 64, 64;
--h2-color-black: 33, 33, 48;
--h2-color-black-locked: 33, 33, 48;
--h2-color-black-light: 87, 87, 101;
--h2-color-black-light-locked: 87, 87, 101;
--h2-color-black-lighter: 143, 143, 152;
--h2-color-black-lighter-locked: 143, 143, 152;
--h2-color-black-lightest: 199, 199, 204;
--h2-color-black-lightest-locked: 199, 199, 204;
--h2-color-black-dark: 24, 24, 37;
--h2-color-black-dark-locked: 24, 24, 37;
--h2-color-black-darker: 16, 16, 25;
--h2-color-black-darker-locked: 16, 16, 25;
--h2-color-black-darkest: 8, 8, 12;
--h2-color-black-darkest-locked: 8, 8, 12;
--h2-color-primary: 157, 92, 255;
--h2-color-primary-locked: 157, 92, 255;
--h2-color-primary-light: 179, 121, 255;
--h2-color-primary-light-locked: 179, 121, 255;
--h2-color-primary-lighter: 204, 165, 255;
--h2-color-primary-lighter-locked: 204, 165, 255;
--h2-color-primary-lightest: 230, 210, 255;
--h2-color-primary-lightest-locked: 230, 210, 255;
--h2-color-primary-dark: 115, 57, 191;
--h2-color-primary-dark-locked: 115, 57, 191;
--h2-color-primary-darker: 77, 38, 128;
--h2-color-primary-darker-locked: 77, 38, 128;
--h2-color-primary-darkest: 38, 19, 64;
--h2-color-primary-darkest-locked: 38, 19, 64;
--h2-color-secondary: 83, 255, 224;
--h2-color-secondary-locked: 83, 255, 224;
--h2-color-secondary-light: 113, 255, 240;
--h2-color-secondary-light-locked: 113, 255, 240;
--h2-color-secondary-lighter: 160, 255, 245;
--h2-color-secondary-lighter-locked: 160, 255, 245;
--h2-color-secondary-lightest: 208, 255, 250;
--h2-color-secondary-lightest-locked: 208, 255, 250;
--h2-color-secondary-dark: 49, 191, 176;
--h2-color-secondary-dark-locked: 49, 191, 176;
--h2-color-secondary-darker: 33, 128, 118;
--h2-color-secondary-darker-locked: 33, 128, 118;
--h2-color-secondary-darkest: 16, 64, 59;
--h2-color-secondary-darkest-locked: 16, 64, 59;
--h2-color-focus: 251, 206, 58;
--h2-color-focus-locked: 251, 206, 58;
--h2-color-focus-light: 255, 226, 93;
--h2-color-focus-light-locked: 255, 226, 93;
--h2-color-focus-lighter: 255, 236, 147;
--h2-color-focus-lighter-locked: 255, 236, 147;
--h2-color-focus-lightest: 255, 245, 201;
--h2-color-focus-lightest-locked: 255, 245, 201;
--h2-color-focus-dark: 191, 162, 29;
--h2-color-focus-dark-locked: 191, 162, 29;
--h2-color-focus-darker: 128, 108, 19;
--h2-color-focus-darker-locked: 128, 108, 19;
--h2-color-focus-darkest: 64, 54, 10;
--h2-color-focus-darkest-locked: 64, 54, 10;
--h2-color-error: 255, 0, 0;
--h2-color-error-locked: 255, 0, 0;
--h2-color-error-light: 255, 64, 64;
--h2-color-error-light-locked: 255, 64, 64;
--h2-color-error-lighter: 255, 128, 128;
--h2-color-error-lighter-locked: 255, 128, 128;
--h2-color-error-lightest: 255, 191, 191;
--h2-color-error-lightest-locked: 255, 191, 191;
--h2-color-error-dark: 191, 0, 0;
--h2-color-error-dark-locked: 191, 0, 0;
--h2-color-error-darker: 128, 0, 0;
--h2-color-error-darker-locked: 128, 0, 0;
--h2-color-error-darkest: 64, 0, 0;
--h2-color-error-darkest-locked: 64, 0, 0;
--h2-color-warning: 255, 165, 0;
--h2-color-warning-locked: 255, 165, 0;
--h2-color-warning-light: 255, 193, 64;
--h2-color-warning-light-locked: 255, 193, 64;
--h2-color-warning-lighter: 255, 214, 128;
--h2-color-warning-lighter-locked: 255, 214, 128;
--h2-color-warning-lightest: 255, 234, 191;
--h2-color-warning-lightest-locked: 255, 234, 191;
--h2-color-warning-dark: 191, 129, 0;
--h2-color-warning-dark-locked: 191, 129, 0;
--h2-color-warning-darker: 128, 86, 0;
--h2-color-warning-darker-locked: 128, 86, 0;
--h2-color-warning-darkest: 64, 43, 0;
--h2-color-warning-darkest-locked: 64, 43, 0;
--h2-color-success: 0, 128, 0;
--h2-color-success-locked: 0, 128, 0;
--h2-color-success-light: 64, 169, 64;
--h2-color-success-light-locked: 64, 169, 64;
--h2-color-success-lighter: 128, 198, 128;
--h2-color-success-lighter-locked: 128, 198, 128;
--h2-color-success-lightest: 191, 226, 191;
--h2-color-success-lightest-locked: 191, 226, 191;
--h2-color-success-dark: 0, 106, 0;
--h2-color-success-dark-locked: 0, 106, 0;
--h2-color-success-darker: 0, 70, 0;
--h2-color-success-darker-locked: 0, 70, 0;
--h2-color-success-darkest: 0, 35, 0;
--h2-color-success-darkest-locked: 0, 35, 0;
/* Container widths */
--h2-container-small: 39rem;
--h2-container-small-locked: 39rem;
--h2-container-medium: 75rem;
--h2-container-medium-locked: 75rem;
--h2-container-large: 90rem;
--h2-container-large-locked: 90rem;
/* Font families */
--h2-font-family-sans: sans-serif;
--h2-font-family-sans-locked: sans-serif;
--h2-font-family-serif: serif;
--h2-font-family-serif-locked: serif;
--h2-font-family-script: script;
--h2-font-family-script-locked: script;
--h2-font-family-mono: monospace;
--h2-font-family-mono-locked: monospace;
/* Font sizes and line heights */
--h2-font-size-caption: calc((1 / 1.25 ) * 1rem);
--h2-line-height-caption: var(--h2-base-line-height);
--h2-font-size-copy: 1rem;
--h2-line-height-copy: var(--h2-base-line-height);
--h2-font-size-h6: calc((1 * 1.25 ) * 1rem);
--h2-line-height-h6: 1.1199999999999999;
--h2-font-size-h5: calc(var(--h2-font-size-h6) * 1.25 );
--h2-line-height-h5: 1.7919999999999998;
--h2-font-size-h4: calc(var(--h2-font-size-h5) * 1.25 );
--h2-line-height-h4: 1.4336;
--h2-font-size-h3: calc(var(--h2-font-size-h4) * 1.25 );
--h2-line-height-h3: 1.14688;
--h2-font-size-h2: calc(var(--h2-font-size-h3) * 1.25 );
--h2-line-height-h2: 1.3762559999999997;
--h2-font-size-h1: calc(var(--h2-font-size-h2) * 1.25 );
--h2-line-height-h1: 1.1010048;
--h2-font-size-display: calc(var(--h2-font-size-h1) * 1.25 );
--h2-line-height-display: 1.1744051199999999;
/* Shadows */
--h2-shadow-small: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, .2);
--h2-shadow-small-locked: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, .2);
--h2-shadow-medium: 0 0.25rem 0.5rem -0.05rem rgba(0, 0, 0, .2);
--h2-shadow-medium-locked: 0 0.25rem 0.5rem -0.05rem rgba(0, 0, 0, .2);
--h2-shadow-large: 0 0.4rem 0.7rem -0.1rem rgba(0, 0, 0, .2);
--h2-shadow-large-locked: 0 0.4rem 0.7rem -0.1rem rgba(0, 0, 0, .2);
--h2-shadow-larger: 0 0.55rem 1rem -0.2rem rgba(0, 0, 0, .2);
--h2-shadow-larger-locked: 0 0.55rem 1rem -0.2rem rgba(0, 0, 0, .2);
--h2-shadow-largest: 0 0.7rem 1.5rem -0.3rem rgba(0, 0, 0, .2);
--h2-shadow-largest-locked: 0 0.7rem 1.5rem -0.3rem rgba(0, 0, 0, .2);
}
[data-h2*="dark"]{
/* Colors */
--h2-color-white: 33, 33, 48;
--h2-color-white-light: 87, 87, 101;
--h2-color-white-lighter: 143, 143, 152;
--h2-color-white-lightest: 199, 199, 204;
--h2-color-white-dark: 24, 24, 37;
--h2-color-white-darker: 16, 16, 25;
--h2-color-white-darkest: 8, 8, 12;
--h2-color-black: 255, 255, 255;
--h2-color-black-light: 255, 255, 255;
--h2-color-black-lighter: 255, 255, 255;
--h2-color-black-lightest: 255, 255, 255;
--h2-color-black-dark: 191, 191, 191;
--h2-color-black-darker: 128, 128, 128;
--h2-color-black-darkest: 64, 64, 64;
/* Container widths */
/* Font families */
/* Shadows */
}
@media screen and (min-width: 100em){
:root {
/* Core units */
--h2-base-font-size: 112.5%;
--h2-base-line-height: 1.4;
--h2-base-whitespace: 1.4;
/* Font sizes and line heights */
--h2-font-size-caption: calc((1 / 1.25 ) * 1rem);
--h2-line-height-caption: var(--h2-base-line-height);
--h2-font-size-copy: 1rem;
--h2-line-height-copy: var(--h2-base-line-height);
--h2-font-size-h6: calc((1 * 1.25 ) * 1rem);
--h2-line-height-h6: 1.1199999999999999;
--h2-font-size-h5: calc(var(--h2-font-size-h6) * 1.25 );
--h2-line-height-h5: 1.7919999999999998;
--h2-font-size-h4: calc(var(--h2-font-size-h5) * 1.25 );
--h2-line-height-h4: 1.4336;
--h2-font-size-h3: calc(var(--h2-font-size-h4) * 1.25 );
--h2-line-height-h3: 1.14688;
--h2-font-size-h2: calc(var(--h2-font-size-h3) * 1.25 );
--h2-line-height-h2: 1.3762559999999997;
--h2-font-size-h1: calc(var(--h2-font-size-h2) * 1.25 );
--h2-line-height-h1: 1.1010048;
--h2-font-size-display: calc(var(--h2-font-size-h1) * 1.25 );
--h2-line-height-display: 1.1744051199999999;
}
}html{box-sizing: border-box;}html * {box-sizing: border-box;}html{font-size: var(--h2-base-font-size); line-height: var(--h2-base-line-height);}body {position: relative;}body, h1, h2, h3, h4, h5, h6, p, blockquote, fieldset, figure, aside {margin: 0;}img, iframe {max-width: 100%;}h1, h2, h3, h4, h5, h6 {font-weight: normal;}*:not(pre, code, kbd, samp) {font-family: inherit;}* {line-height: inherit;}span {color: inherit;font-size: inherit;font-weight: inherit;}em {color: inherit;font-size: inherit;font-style: italic;}strong {color: inherit;font-size: inherit;font-weight: 600;}a {color: inherit;font-size: inherit;font-weight: inherit;text-decoration: underline;}button {font-family: inherit; font-size: var(--h2-font-size-copy); line-height: var(--h2-line-height-copy);}input {font-family: inherit; font-size: var(--h2-font-size-copy); line-height: var(--h2-line-height-copy);}select {font-family: inherit; font-size: var(--h2-font-size-copy); line-height: var(--h2-line-height-copy);}textarea {font-family: inherit; font-size: var(--h2-font-size-copy); line-height: var(--h2-line-height-copy);}ul, ol, dl {margin: 0;}li {color: inherit;font-size: inherit;margin: 0;}caption, label {font-size: var(--h2-font-size-caption);line-height: var(--h2-line-height-caption);}p {font-size: var(--h2-font-size-copy);line-height: var(--h2-line-height-copy);}h6 {font-size: var(--h2-font-size-h6);line-height: var(--h2-line-height-h6);}h5 {font-size: var(--h2-font-size-h5);line-height: var(--h2-line-height-h5);}h4 {font-size: var(--h2-font-size-h4);line-height: var(--h2-line-height-h4);}h3 {font-size: var(--h2-font-size-h3);line-height: var(--h2-line-height-h3);}h2 {font-size: var(--h2-font-size-h2);line-height: var(--h2-line-height-h2);}h1 {font-size: var(--h2-font-size-h1);line-height: var(--h2-line-height-h1);}
/* base - light - default - default */

[data-h2] [data-h2-background-color*="base(yellow)"]{background-color: yellow;}
[data-h2] [data-h2-background-color*="base(pink)"]{background-color: pink;}
[data-h2] [data-h2-background-color*="base(primary)"]{background-color: rgba(var(--h2-color-primary), 1);}
[data-h2] [data-h2-background-color*="base(green)"]{background-color: green;}
[data-h2] [data-h2-background-color*="base(black)"]{background-color: rgba(var(--h2-color-black), 1);}
[data-h2] [data-h2-background-color*="base:children[>div](red)"] >div:not([data-h2-background-color]){background-color: red;}
[data-h2] [data-h2-background-color*="base(magenta)"]{background-color: magenta;}
/* base - dark - default - default */

[data-h2*="dark"] [data-h2-background-color*="base:dark(white)"]{background-color: rgba(var(--h2-color-white), 1);}
[data-h2*="dark"] [data-h2-background-color*="base:dark(lime)"]{background-color: lime;}
/* base - light - visited - default */

/* base - dark - visited - default */

/* base - light - checked - default */

/* base - dark - checked - default */

/* base - light - link - default */

/* base - dark - link - default */

/* base - light - enabled - default */

/* base - dark - enabled - default */

/* base - light - optional - default */

/* base - dark - optional - default */

/* base - light - required - default */

/* base - dark - required - default */

/* base - light - valid - default */

/* base - dark - valid - default */

/* base - light - invalid - default */

/* base - dark - invalid - default */

/* base - light - hover - default */
@media (hover: hover) {}
/* base - dark - hover - default */
@media (hover: hover) {}
/* base - light - disabled - default */

/* base - dark - disabled - default */

/* base - light - focus-visible - default */

/* base - dark - focus-visible - default */

/* base - light - focus - default */

/* base - dark - focus - default */

/* base - light - active - default */

/* base - dark - active - default */

/* print - light - default - default */
@media print {}
/* print - dark - default - default */
@media print {}
/* print - light - visited - default */
@media print {}
/* print - dark - visited - default */
@media print {}
/* print - light - checked - default */
@media print {}
/* print - dark - checked - default */
@media print {}
/* print - light - link - default */
@media print {}
/* print - dark - link - default */
@media print {}
/* print - light - enabled - default */
@media print {}
/* print - dark - enabled - default */
@media print {}
/* print - light - optional - default */
@media print {}
/* print - dark - optional - default */
@media print {}
/* print - light - required - default */
@media print {}
/* print - dark - required - default */
@media print {}
/* print - light - valid - default */
@media print {}
/* print - dark - valid - default */
@media print {}
/* print - light - invalid - default */
@media print {}
/* print - dark - invalid - default */
@media print {}
/* print - light - hover - default */
@media print and (hover: hover) {}
/* print - dark - hover - default */
@media print and (hover: hover) {}
/* print - light - disabled - default */
@media print {}
/* print - dark - disabled - default */
@media print {}
/* print - light - focus-visible - default */
@media print {}
/* print - dark - focus-visible - default */
@media print {}
/* print - light - focus - default */
@media print {}
/* print - dark - focus - default */
@media print {}
/* print - light - active - default */
@media print {}
/* print - dark - active - default */
@media print {}
/* p-tablet - light - default - default */
@media screen and (min-width: 48em) {
[data-h2] [data-h2-background-color*="p-tablet(blue)"]{background-color: blue;}
[data-h2] [data-h2-background-color*="p-tablet(cyan)"]{background-color: cyan;}
[data-h2] [data-h2-background-color*="p-tablet(black)"]{background-color: rgba(var(--h2-color-black), 1);}}
/* p-tablet - dark - default - default */
@media screen and (min-width: 48em) {}
/* p-tablet - light - visited - default */
@media screen and (min-width: 48em) {}
/* p-tablet - dark - visited - default */
@media screen and (min-width: 48em) {}
/* p-tablet - light - checked - default */
@media screen and (min-width: 48em) {}
/* p-tablet - dark - checked - default */
@media screen and (min-width: 48em) {}
/* p-tablet - light - link - default */
@media screen and (min-width: 48em) {}
/* p-tablet - dark - link - default */
@media screen and (min-width: 48em) {}
/* p-tablet - light - enabled - default */
@media screen and (min-width: 48em) {}
/* p-tablet - dark - enabled - default */
@media screen and (min-width: 48em) {}
/* p-tablet - light - optional - default */
@media screen and (min-width: 48em) {}
/* p-tablet - dark - optional - default */
@media screen and (min-width: 48em) {}
/* p-tablet - light - required - default */
@media screen and (min-width: 48em) {}
/* p-tablet - dark - required - default */
@media screen and (min-width: 48em) {}
/* p-tablet - light - valid - default */
@media screen and (min-width: 48em) {}
/* p-tablet - dark - valid - default */
@media screen and (min-width: 48em) {}
/* p-tablet - light - invalid - default */
@media screen and (min-width: 48em) {}
/* p-tablet - dark - invalid - default */
@media screen and (min-width: 48em) {}
/* p-tablet - light - hover - default */
@media screen and (min-width: 48em) and (hover: hover) {}
/* p-tablet - dark - hover - default */
@media screen and (min-width: 48em) and (hover: hover) {}
/* p-tablet - light - disabled - default */
@media screen and (min-width: 48em) {}
/* p-tablet - dark - disabled - default */
@media screen and (min-width: 48em) {}
/* p-tablet - light - focus-visible - default */
@media screen and (min-width: 48em) {}
/* p-tablet - dark - focus-visible - default */
@media screen and (min-width: 48em) {}
/* p-tablet - light - focus - default */
@media screen and (min-width: 48em) {}
/* p-tablet - dark - focus - default */
@media screen and (min-width: 48em) {}
/* p-tablet - light - active - default */
@media screen and (min-width: 48em) {}
/* p-tablet - dark - active - default */
@media screen and (min-width: 48em) {}
/* l-tablet - light - default - default */
@media screen and (min-width: 73em) {}
/* l-tablet - dark - default - default */
@media screen and (min-width: 73em) {}
/* l-tablet - light - visited - default */
@media screen and (min-width: 73em) {}
/* l-tablet - dark - visited - default */
@media screen and (min-width: 73em) {}
/* l-tablet - light - checked - default */
@media screen and (min-width: 73em) {}
/* l-tablet - dark - checked - default */
@media screen and (min-width: 73em) {}
/* l-tablet - light - link - default */
@media screen and (min-width: 73em) {}
/* l-tablet - dark - link - default */
@media screen and (min-width: 73em) {}
/* l-tablet - light - enabled - default */
@media screen and (min-width: 73em) {}
/* l-tablet - dark - enabled - default */
@media screen and (min-width: 73em) {}
/* l-tablet - light - optional - default */
@media screen and (min-width: 73em) {}
/* l-tablet - dark - optional - default */
@media screen and (min-width: 73em) {}
/* l-tablet - light - required - default */
@media screen and (min-width: 73em) {}
/* l-tablet - dark - required - default */
@media screen and (min-width: 73em) {}
/* l-tablet - light - valid - default */
@media screen and (min-width: 73em) {}
/* l-tablet - dark - valid - default */
@media screen and (min-width: 73em) {}
/* l-tablet - light - invalid - default */
@media screen and (min-width: 73em) {}
/* l-tablet - dark - invalid - default */
@media screen and (min-width: 73em) {}
/* l-tablet - light - hover - default */
@media screen and (min-width: 73em) and (hover: hover) {}
/* l-tablet - dark - hover - default */
@media screen and (min-width: 73em) and (hover: hover) {}
/* l-tablet - light - disabled - default */
@media screen and (min-width: 73em) {}
/* l-tablet - dark - disabled - default */
@media screen and (min-width: 73em) {}
/* l-tablet - light - focus-visible - default */
@media screen and (min-width: 73em) {}
/* l-tablet - dark - focus-visible - default */
@media screen and (min-width: 73em) {}
/* l-tablet - light - focus - default */
@media screen and (min-width: 73em) {}
/* l-tablet - dark - focus - default */
@media screen and (min-width: 73em) {}
/* l-tablet - light - active - default */
@media screen and (min-width: 73em) {}
/* l-tablet - dark - active - default */
@media screen and (min-width: 73em) {}
/* laptop - light - default - default */
@media screen and (min-width: 80em) {}
/* laptop - dark - default - default */
@media screen and (min-width: 80em) {}
/* laptop - light - visited - default */
@media screen and (min-width: 80em) {}
/* laptop - dark - visited - default */
@media screen and (min-width: 80em) {}
/* laptop - light - checked - default */
@media screen and (min-width: 80em) {}
/* laptop - dark - checked - default */
@media screen and (min-width: 80em) {}
/* laptop - light - link - default */
@media screen and (min-width: 80em) {}
/* laptop - dark - link - default */
@media screen and (min-width: 80em) {}
/* laptop - light - enabled - default */
@media screen and (min-width: 80em) {}
/* laptop - dark - enabled - default */
@media screen and (min-width: 80em) {}
/* laptop - light - optional - default */
@media screen and (min-width: 80em) {}
/* laptop - dark - optional - default */
@media screen and (min-width: 80em) {}
/* laptop - light - required - default */
@media screen and (min-width: 80em) {}
/* laptop - dark - required - default */
@media screen and (min-width: 80em) {}
/* laptop - light - valid - default */
@media screen and (min-width: 80em) {}
/* laptop - dark - valid - default */
@media screen and (min-width: 80em) {}
/* laptop - light - invalid - default */
@media screen and (min-width: 80em) {}
/* laptop - dark - invalid - default */
@media screen and (min-width: 80em) {}
/* laptop - light - hover - default */
@media screen and (min-width: 80em) and (hover: hover) {}
/* laptop - dark - hover - default */
@media screen and (min-width: 80em) and (hover: hover) {}
/* laptop - light - disabled - default */
@media screen and (min-width: 80em) {}
/* laptop - dark - disabled - default */
@media screen and (min-width: 80em) {}
/* laptop - light - focus-visible - default */
@media screen and (min-width: 80em) {}
/* laptop - dark - focus-visible - default */
@media screen and (min-width: 80em) {}
/* laptop - light - focus - default */
@media screen and (min-width: 80em) {}
/* laptop - dark - focus - default */
@media screen and (min-width: 80em) {}
/* laptop - light - active - default */
@media screen and (min-width: 80em) {}
/* laptop - dark - active - default */
@media screen and (min-width: 80em) {}
/* desktop - light - default - default */
@media screen and (min-width: 100em) {
[data-h2] [data-h2-background-color*="desktop(primary)"]{background-color: rgba(var(--h2-color-primary), 1);}
[data-h2] [data-h2-background-color*="desktop(purple)"]{background-color: purple;}}
/* desktop - dark - default - default */
@media screen and (min-width: 100em) {}
/* desktop - light - visited - default */
@media screen and (min-width: 100em) {}
/* desktop - dark - visited - default */
@media screen and (min-width: 100em) {}
/* desktop - light - checked - default */
@media screen and (min-width: 100em) {}
/* desktop - dark - checked - default */
@media screen and (min-width: 100em) {}
/* desktop - light - link - default */
@media screen and (min-width: 100em) {}
/* desktop - dark - link - default */
@media screen and (min-width: 100em) {}
/* desktop - light - enabled - default */
@media screen and (min-width: 100em) {}
/* desktop - dark - enabled - default */
@media screen and (min-width: 100em) {}
/* desktop - light - optional - default */
@media screen and (min-width: 100em) {}
/* desktop - dark - optional - default */
@media screen and (min-width: 100em) {}
/* desktop - light - required - default */
@media screen and (min-width: 100em) {}
/* desktop - dark - required - default */
@media screen and (min-width: 100em) {}
/* desktop - light - valid - default */
@media screen and (min-width: 100em) {}
/* desktop - dark - valid - default */
@media screen and (min-width: 100em) {}
/* desktop - light - invalid - default */
@media screen and (min-width: 100em) {}
/* desktop - dark - invalid - default */
@media screen and (min-width: 100em) {}
/* desktop - light - hover - default */
@media screen and (min-width: 100em) and (hover: hover) {}
/* desktop - dark - hover - default */
@media screen and (min-width: 100em) and (hover: hover) {}
/* desktop - light - disabled - default */
@media screen and (min-width: 100em) {}
/* desktop - dark - disabled - default */
@media screen and (min-width: 100em) {}
/* desktop - light - focus-visible - default */
@media screen and (min-width: 100em) {}
/* desktop - dark - focus-visible - default */
@media screen and (min-width: 100em) {}
/* desktop - light - focus - default */
@media screen and (min-width: 100em) {}
/* desktop - dark - focus - default */
@media screen and (min-width: 100em) {}
/* desktop - light - active - default */
@media screen and (min-width: 100em) {}
/* desktop - dark - active - default */
@media screen and (min-width: 100em) {}