:root{
/* Core units */
--h2-base-font-size: 100%;
--h2-base-line-height: 1.4;
--h2-base-whitespace: 1.4;
/* Colors */
--h2-color-primary: #9D5CFF;
--h2-color-primary-light: rgb(179, 121, 255);
--h2-color-primary-lighter: rgb(204, 165, 255);
--h2-color-primary-lightest: rgb(230, 210, 255);
--h2-color-primary-dark: rgb(115, 57, 191);
--h2-color-primary-darker: rgb(77, 38, 128);
--h2-color-primary-darkest: rgb(38, 19, 64);
--h2-color-primary-other: yellow;
--h2-color-primary-customModifier: pink;
--h2-color-secondary: #5CFFEE;
--h2-color-secondary-light: rgb(121, 255, 252);
--h2-color-secondary-lighter: green;
--h2-color-secondary-lightest: rgb(210, 255, 254);
--h2-color-secondary-dark: rgb(57, 191, 188);
--h2-color-secondary-darker: rgb(38, 128, 126);
--h2-color-secondary-darkest: rgb(19, 64, 63);
--h2-color-accent: #FF5C6D;
--h2-color-accent-light: rgb(255, 121, 136);
--h2-color-accent-lighter: rgb(255, 165, 176);
--h2-color-accent-lightest: rgb(255, 210, 215);
--h2-color-accent-dark: rgb(191, 57, 72);
--h2-color-accent-darker: rgb(128, 38, 48);
--h2-color-accent-darkest: rgb(64, 19, 24);
--h2-color-black: rgba(20, 20, 30, 1);
--h2-color-black-light: rgb(78, 78, 87);
--h2-color-black-lighter: rgb(137, 137, 143);
--h2-color-black-lightest: rgb(196, 196, 199);
--h2-color-black-dark: rgb(14, 14, 23);
--h2-color-black-darker: rgb(10, 10, 16);
--h2-color-black-darkest: rgb(5, 5, 8);
--h2-color-white: rgba(255, 255, 255, 1);
--h2-color-white-light: rgb(255, 255, 255);
--h2-color-white-lighter: rgb(255, 255, 255);
--h2-color-white-lightest: rgb(255, 255, 255);
--h2-color-white-dark: rgb(191, 191, 191);
--h2-color-white-darker: rgb(128, 128, 128);
--h2-color-white-darkest: rgb(64, 64, 64);
/* Container max widths */
--h2-container-small: 39rem;
--h2-container-medium: 60rem;
--h2-container-large: 80rem;
/* Font families */
--h2-font-family-sans: sans-serif;
--h2-font-family-serif: serif;
--h2-font-family-script: script;
--h2-font-family-mono: monospace;
/* Font sizes and line heights */
--h2-font-size-caption: calc((1 / 1.2 ) * 1rem);
--h2-line-height-caption: var(--h2-base-line-height);
--h2-font-size-copy: calc(1 * 1rem);
--h2-line-height-copy: var(--h2-base-line-height);
--h2-font-size-h6: calc((1 * 1.2 ) * 1rem);
--h2-line-height-h6: 1.1666666666666667;
--h2-font-size-h5: calc(var(--h2-font-size-h6) * 1.2 );
--h2-line-height-h5: 1.9444444444444444;
--h2-font-size-h4: calc(var(--h2-font-size-h5) * 1.2 );
--h2-line-height-h4: 1.6203703703703702;
--h2-font-size-h3: calc(var(--h2-font-size-h4) * 1.2 );
--h2-line-height-h3: 1.3503086419753085;
--h2-font-size-h2: calc(var(--h2-font-size-h3) * 1.2 );
--h2-line-height-h2: 1.1252572016460904;
--h2-font-size-h1: calc(var(--h2-font-size-h2) * 1.2 );
--h2-line-height-h1: 1.406571502057613;
/* Gradients */
--h2-gradient-myLinearGradient: linear-gradient(135deg, green, pink, rgba(255, 255, 255, 1));
--h2-gradient-myRadialGradient: radial-gradient(circle at left, green, pink, rgba(255, 255, 255, 1));
/* Radii */
/* Radii */
--h2-shadow-small: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, .2);
--h2-shadow-medium: 0 0.25rem 0.5rem -0.05rem rgba(0, 0, 0, .2);
--h2-shadow-large: 0 0.4rem 0.7rem -0.1rem rgba(0, 0, 0, .2);
--h2-shadow-larger: 0 0.55rem 1rem -0.2rem rgba(0, 0, 0, .2);
--h2-shadow-largest: 0 0.7rem 1.5rem -0.3rem rgba(0, 0, 0, .2);
/* Transitions */
/* Whitespace shortcuts */
/* Note that these are merely for convenience. You can create any calc function you need using the --h2-base-whitespace variable */
--h2-whitespace-1: calc(var(--h2-base-whitespace) * 1);
--h2-whitespace-2: calc(var(--h2-base-whitespace) * 2);
--h2-whitespace-3: calc(var(--h2-base-whitespace) * 3);
--h2-whitespace-4: calc(var(--h2-base-whitespace) * 4);
--h2-whitespace-5: calc(var(--h2-base-whitespace) * 5);
--h2-whitespace-6: calc(var(--h2-base-whitespace) * 6);
--h2-whitespace-7: calc(var(--h2-base-whitespace) * 7);
--h2-whitespace-8: calc(var(--h2-base-whitespace) * 8);
--h2-whitespace-9: calc(var(--h2-base-whitespace) * 9);
--h2-whitespace-10: calc(var(--h2-base-whitespace) * 10);
}
@media screen and (min-width: 73em){
:root{
/* Core units */
--h2-base-font-size: 112.5%;
--h2-base-line-height: 1.4;
--h2-base-whitespace: 1.4;
/* Font sizes and line heights */
--h2-font-size-caption: calc((1 / 1.2 ) * 1rem);
--h2-line-height-caption: var(--h2-base-line-height);
--h2-font-size-copy: calc(1 * 1rem);
--h2-line-height-copy: var(--h2-base-line-height);
--h2-font-size-h6: calc((1 * 1.2 ) * 1rem);
--h2-line-height-h6: 1.1666666666666667;
--h2-font-size-h5: calc(var(--h2-font-size-h6) * 1.2 );
--h2-line-height-h5: 1.9444444444444444;
--h2-font-size-h4: calc(var(--h2-font-size-h5) * 1.2 );
--h2-line-height-h4: 1.6203703703703702;
--h2-font-size-h3: calc(var(--h2-font-size-h4) * 1.2 );
--h2-line-height-h3: 1.3503086419753085;
--h2-font-size-h2: calc(var(--h2-font-size-h3) * 1.2 );
--h2-line-height-h2: 1.1252572016460904;
--h2-font-size-h1: calc(var(--h2-font-size-h2) * 1.2 );
--h2-line-height-h1: 1.406571502057613;
}
}
