:root{
/* Core units */
--h2-base-font-size: 100%;
--h2-base-line-height: 1.4;
--h2-base-whitespace: 1.4;
/* Colors */
--h2-color-white: 255, 255, 255;
--h2-color-white-locked: 255, 255, 255;
--h2-color-white-light: 255, 255, 255;
--h2-color-white-light-locked: 255, 255, 255;
--h2-color-white-lighter: 255, 255, 255;
--h2-color-white-lighter-locked: 255, 255, 255;
--h2-color-white-lightest: 255, 255, 255;
--h2-color-white-lightest-locked: 255, 255, 255;
--h2-color-white-dark: 191, 191, 191;
--h2-color-white-dark-locked: 191, 191, 191;
--h2-color-white-darker: 128, 128, 128;
--h2-color-white-darker-locked: 128, 128, 128;
--h2-color-white-darkest: 64, 64, 64;
--h2-color-white-darkest-locked: 64, 64, 64;
--h2-color-black: 33, 33, 48;
--h2-color-black-locked: 33, 33, 48;
--h2-color-black-light: 87, 87, 101;
--h2-color-black-light-locked: 87, 87, 101;
--h2-color-black-lighter: 143, 143, 152;
--h2-color-black-lighter-locked: 143, 143, 152;
--h2-color-black-lightest: 199, 199, 204;
--h2-color-black-lightest-locked: 199, 199, 204;
--h2-color-black-dark: 24, 24, 37;
--h2-color-black-dark-locked: 24, 24, 37;
--h2-color-black-darker: 16, 16, 25;
--h2-color-black-darker-locked: 16, 16, 25;
--h2-color-black-darkest: 8, 8, 12;
--h2-color-black-darkest-locked: 8, 8, 12;
--h2-color-primary: 157, 92, 255;
--h2-color-primary-locked: 157, 92, 255;
--h2-color-primary-other: 255, 255, 0;
--h2-color-primary-other-locked: 255, 255, 0;
--h2-color-primary-customModifier: 255, 192, 203;
--h2-color-primary-customModifier-locked: 255, 192, 203;
--h2-color-primary-light: 179, 121, 255;
--h2-color-primary-light-locked: 179, 121, 255;
--h2-color-primary-lighter: 204, 165, 255;
--h2-color-primary-lighter-locked: 204, 165, 255;
--h2-color-primary-lightest: 230, 210, 255;
--h2-color-primary-lightest-locked: 230, 210, 255;
--h2-color-primary-dark: 115, 57, 191;
--h2-color-primary-dark-locked: 115, 57, 191;
--h2-color-primary-darker: 77, 38, 128;
--h2-color-primary-darker-locked: 77, 38, 128;
--h2-color-primary-darkest: 38, 19, 64;
--h2-color-primary-darkest-locked: 38, 19, 64;
--h2-color-secondary: 83, 255, 224;
--h2-color-secondary-locked: 83, 255, 224;
--h2-color-secondary-lighter: 0, 128, 0;
--h2-color-secondary-lighter-locked: 0, 128, 0;
--h2-color-secondary-light: 113, 255, 240;
--h2-color-secondary-light-locked: 113, 255, 240;
--h2-color-secondary-lightest: 208, 255, 250;
--h2-color-secondary-lightest-locked: 208, 255, 250;
--h2-color-secondary-dark: 49, 191, 176;
--h2-color-secondary-dark-locked: 49, 191, 176;
--h2-color-secondary-darker: 33, 128, 118;
--h2-color-secondary-darker-locked: 33, 128, 118;
--h2-color-secondary-darkest: 16, 64, 59;
--h2-color-secondary-darkest-locked: 16, 64, 59;
--h2-color-accent: 255, 92, 109;
--h2-color-accent-locked: 255, 92, 109;
--h2-color-accent-light: 255, 121, 136;
--h2-color-accent-light-locked: 255, 121, 136;
--h2-color-accent-lighter: 255, 165, 176;
--h2-color-accent-lighter-locked: 255, 165, 176;
--h2-color-accent-lightest: 255, 210, 215;
--h2-color-accent-lightest-locked: 255, 210, 215;
--h2-color-accent-dark: 191, 57, 72;
--h2-color-accent-dark-locked: 191, 57, 72;
--h2-color-accent-darker: 128, 38, 48;
--h2-color-accent-darker-locked: 128, 38, 48;
--h2-color-accent-darkest: 64, 19, 24;
--h2-color-accent-darkest-locked: 64, 19, 24;
--h2-color-focus: 251, 206, 58;
--h2-color-focus-locked: 251, 206, 58;
--h2-color-focus-light: 255, 226, 93;
--h2-color-focus-light-locked: 255, 226, 93;
--h2-color-focus-lighter: 255, 236, 147;
--h2-color-focus-lighter-locked: 255, 236, 147;
--h2-color-focus-lightest: 255, 245, 201;
--h2-color-focus-lightest-locked: 255, 245, 201;
--h2-color-focus-dark: 191, 162, 29;
--h2-color-focus-dark-locked: 191, 162, 29;
--h2-color-focus-darker: 128, 108, 19;
--h2-color-focus-darker-locked: 128, 108, 19;
--h2-color-focus-darkest: 64, 54, 10;
--h2-color-focus-darkest-locked: 64, 54, 10;
/* Container widths */
--h2-container-small: 39rem;
--h2-container-small-locked: 39rem;
--h2-container-medium: 75rem;
--h2-container-medium-locked: 75rem;
--h2-container-large: 90rem;
--h2-container-large-locked: 90rem;
/* Font families */
--h2-font-family-sans: sans-serif;
--h2-font-family-sans-locked: sans-serif;
--h2-font-family-serif: serif;
--h2-font-family-serif-locked: serif;
--h2-font-family-script: script;
--h2-font-family-script-locked: script;
--h2-font-family-mono: monospace;
--h2-font-family-mono-locked: monospace;
/* Font sizes and line heights */
--h2-font-size-caption: calc((1 / 1.25 ) * 1rem);
--h2-line-height-caption: var(--h2-base-line-height);
--h2-font-size-copy: 1rem;
--h2-line-height-copy: var(--h2-base-line-height);
--h2-font-size-h6: calc((1 * 1.25 ) * 1rem);
--h2-line-height-h6: 1.1199999999999999;
--h2-font-size-h5: calc(var(--h2-font-size-h6) * 1.25 );
--h2-line-height-h5: 1.7919999999999998;
--h2-font-size-h4: calc(var(--h2-font-size-h5) * 1.25 );
--h2-line-height-h4: 1.4336;
--h2-font-size-h3: calc(var(--h2-font-size-h4) * 1.25 );
--h2-line-height-h3: 1.14688;
--h2-font-size-h2: calc(var(--h2-font-size-h3) * 1.25 );
--h2-line-height-h2: 1.3762559999999997;
--h2-font-size-h1: calc(var(--h2-font-size-h2) * 1.25 );
--h2-line-height-h1: 1.1010048;
--h2-font-size-display: calc(var(--h2-font-size-h1) * 1.25 );
--h2-line-height-display: 1.1744051199999999;
/* Gradients */
--h2-gradient-myLinearGradient: linear-gradient(135deg, green, pink, rgba(255, 255, 255, 1));
--h2-gradient-fallback-myLinearGradient: green;
--h2-gradient-myLinearGradient-locked: linear-gradient(135deg, green, pink, rgba(255, 255, 255, 1));
--h2-gradient-fallback-myLinearGradient-locked: green;
--h2-gradient-myRadialGradient: radial-gradient(circle at left, green, pink, rgba(255, 255, 255, 1));
--h2-gradient-fallback-myRadialGradient: green;
--h2-gradient-myRadialGradient-locked: radial-gradient(circle at left, green, pink, rgba(255, 255, 255, 1));
--h2-gradient-fallback-myRadialGradient-locked: green;
/* Shadows */
--h2-shadow-small: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, .2);
--h2-shadow-small-locked: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, .2);
--h2-shadow-medium: 0 0.25rem 0.5rem -0.05rem rgba(0, 0, 0, .2);
--h2-shadow-medium-locked: 0 0.25rem 0.5rem -0.05rem rgba(0, 0, 0, .2);
--h2-shadow-large: 0 0.4rem 0.7rem -0.1rem rgba(0, 0, 0, .2);
--h2-shadow-large-locked: 0 0.4rem 0.7rem -0.1rem rgba(0, 0, 0, .2);
--h2-shadow-larger: 0 0.55rem 1rem -0.2rem rgba(0, 0, 0, .2);
--h2-shadow-larger-locked: 0 0.55rem 1rem -0.2rem rgba(0, 0, 0, .2);
--h2-shadow-largest: 0 0.7rem 1.5rem -0.3rem rgba(0, 0, 0, .2);
--h2-shadow-largest-locked: 0 0.7rem 1.5rem -0.3rem rgba(0, 0, 0, .2);
}
[data-h2*="dark"]{
/* Colors */
/* Container widths */
/* Font families */
/* Gradients */
/* Shadows */
}
@media screen and (min-width: 100em){
:root {
/* Core units */
--h2-base-font-size: 112.5%;
--h2-base-line-height: 1.4;
--h2-base-whitespace: 1.4;
/* Font sizes and line heights */
--h2-font-size-caption: calc((1 / 1.25 ) * 1rem);
--h2-line-height-caption: var(--h2-base-line-height);
--h2-font-size-copy: 1rem;
--h2-line-height-copy: var(--h2-base-line-height);
--h2-font-size-h6: calc((1 * 1.25 ) * 1rem);
--h2-line-height-h6: 1.1199999999999999;
--h2-font-size-h5: calc(var(--h2-font-size-h6) * 1.25 );
--h2-line-height-h5: 1.7919999999999998;
--h2-font-size-h4: calc(var(--h2-font-size-h5) * 1.25 );
--h2-line-height-h4: 1.4336;
--h2-font-size-h3: calc(var(--h2-font-size-h4) * 1.25 );
--h2-line-height-h3: 1.14688;
--h2-font-size-h2: calc(var(--h2-font-size-h3) * 1.25 );
--h2-line-height-h2: 1.3762559999999997;
--h2-font-size-h1: calc(var(--h2-font-size-h2) * 1.25 );
--h2-line-height-h1: 1.1010048;
--h2-font-size-display: calc(var(--h2-font-size-h1) * 1.25 );
--h2-line-height-display: 1.1744051199999999;
}
}