:root{
/* Core units */
--h2-base-font-size: 100%;
--h2-base-line-height: 1.4;
--h2-base-whitespace: 1.4;
/* Colors */
--h2-color-testColor: 255, 0, 0;
--h2-color-testColor-locked: 255, 0, 0;
--h2-color-testColor-testModifier: 255, 255, 0;
--h2-color-testColor-testModifier-locked: 255, 255, 0;
--h2-color-testColor-light: 255, 64, 64;
--h2-color-testColor-light-locked: 255, 64, 64;
--h2-color-testColor-lighter: 255, 128, 128;
--h2-color-testColor-lighter-locked: 255, 128, 128;
--h2-color-testColor-lightest: 255, 191, 191;
--h2-color-testColor-lightest-locked: 255, 191, 191;
--h2-color-testColor-dark: 191, 0, 0;
--h2-color-testColor-dark-locked: 191, 0, 0;
--h2-color-testColor-darker: 128, 0, 0;
--h2-color-testColor-darker-locked: 128, 0, 0;
--h2-color-testColor-darkest: 64, 0, 0;
--h2-color-testColor-darkest-locked: 64, 0, 0;
/* Container widths */
--h2-container-testContainer: 45em;
--h2-container-testContainer-locked: 45em;
/* Font families */
--h2-font-family-testFont: 45em;
--h2-font-family-testFont-locked: 45em;
/* Font sizes and line heights */
--h2-font-size-caption: calc((1 / 1.33 ) * 1rem);
--h2-line-height-caption: var(--h2-base-line-height);
--h2-font-size-copy: 1rem;
--h2-line-height-copy: var(--h2-base-line-height);
--h2-font-size-h6: calc((1 * 1.33 ) * 1rem);
--h2-line-height-h6: 1.0526315789473684;
--h2-font-size-h5: calc(var(--h2-font-size-h6) * 1.33 );
--h2-line-height-h5: 1.5829046299960425;
--h2-font-size-h4: calc(var(--h2-font-size-h5) * 1.33 );
--h2-line-height-h4: 1.1901538571398815;
--h2-font-size-h3: calc(var(--h2-font-size-h4) * 1.33 );
--h2-line-height-h3: 1.3422787862479866;
--h2-font-size-h2: calc(var(--h2-font-size-h3) * 1.33 );
--h2-line-height-h2: 1.009232170111268;
--h2-font-size-h1: calc(var(--h2-font-size-h2) * 1.33 );
--h2-line-height-h1: 1.0117615740463841;
--h2-font-size-display: calc(var(--h2-font-size-h1) * 1.33 );
--h2-line-height-display: 1.1410844820072;
/* Gradients */
--h2-gradient-testGradient: linear-gradient(90deg,red,blue);
--h2-gradient-fallback-testGradient: red;
--h2-gradient-testGradient-locked: linear-gradient(90deg,red,blue);
--h2-gradient-fallback-testGradient-locked: red;
/* Radii */
--h2-radius-testRadius: 10px;
--h2-radius-testRadius-locked: 10px;
/* Shadows */
--h2-shadow-testShadow: 1px 1px 1px red;
--h2-shadow-testShadow-locked: 1px 1px 1px red;
/* Transitions / Durations */
--h2-transition-duration-testDuration: 2s;
--h2-transition-duration-testDuration-locked: 2s;
/* Transitions / Functions */
--h2-transition-function-testFunction: ease;
--h2-transition-function-testFunction-locked: ease;
/* Transitions / Delays */
--h2-transition-delay-testDelay: 2s;
--h2-transition-delay-testDelay-locked: 2s;
}
[data-h2*="dark"]{
/* Colors */
--h2-color-testColor: 128, 0, 0;
--h2-color-testColor-testModifier: 255, 165, 0;
--h2-color-testColor-light: 169, 64, 64;
--h2-color-testColor-lighter: 198, 128, 128;
--h2-color-testColor-lightest: 226, 191, 191;
--h2-color-testColor-dark: 106, 0, 0;
--h2-color-testColor-darker: 70, 0, 0;
--h2-color-testColor-darkest: 35, 0, 0;
/* Container widths */
/* Font families */
/* Gradients */
--h2-gradient-testGradient: linear-gradient(90deg,maroon,navy);
--h2-gradient-fallback-testGradient: maroon;
/* Radii */
/* Shadows */
--h2-shadow-testShadow: 1px 1px 1px maroon;
/* Transitions / Durations */
/* Transitions / Functions */
/* Transitions / Delays */
}
[data-h2*="optionalTheme"]{
/* Core units */
--h2-base-font-size: 100%;
--h2-base-line-height: 1.4;
--h2-base-whitespace: 1.4;
/* Colors */
--h2-color-testColor: 0, 128, 0;
--h2-color-testColor-locked: 0, 128, 0;
--h2-color-testColor-testModifier: 128, 128, 0;
--h2-color-testColor-testModifier-locked: 128, 128, 0;
--h2-color-testColor-light: 64, 169, 64;
--h2-color-testColor-light-locked: 64, 169, 64;
--h2-color-testColor-lighter: 128, 198, 128;
--h2-color-testColor-lighter-locked: 128, 198, 128;
--h2-color-testColor-lightest: 191, 226, 191;
--h2-color-testColor-lightest-locked: 191, 226, 191;
--h2-color-testColor-dark: 0, 106, 0;
--h2-color-testColor-dark-locked: 0, 106, 0;
--h2-color-testColor-darker: 0, 70, 0;
--h2-color-testColor-darker-locked: 0, 70, 0;
--h2-color-testColor-darkest: 0, 35, 0;
--h2-color-testColor-darkest-locked: 0, 35, 0;
/* Container widths */
--h2-container-testContainer: 45em;
--h2-container-testContainer-locked: 45em;
/* Font families */
--h2-font-family-testFont: 45em;
--h2-font-family-testFont-locked: 45em;
/* Font sizes and line heights */
--h2-font-size-caption: calc((1 / 1.33 ) * 1rem);
--h2-line-height-caption: var(--h2-base-line-height);
--h2-font-size-copy: 1rem;
--h2-line-height-copy: var(--h2-base-line-height);
--h2-font-size-h6: calc((1 * 1.33 ) * 1rem);
--h2-line-height-h6: 1.0526315789473684;
--h2-font-size-h5: calc(var(--h2-font-size-h6) * 1.33 );
--h2-line-height-h5: 1.5829046299960425;
--h2-font-size-h4: calc(var(--h2-font-size-h5) * 1.33 );
--h2-line-height-h4: 1.1901538571398815;
--h2-font-size-h3: calc(var(--h2-font-size-h4) * 1.33 );
--h2-line-height-h3: 1.3422787862479866;
--h2-font-size-h2: calc(var(--h2-font-size-h3) * 1.33 );
--h2-line-height-h2: 1.009232170111268;
--h2-font-size-h1: calc(var(--h2-font-size-h2) * 1.33 );
--h2-line-height-h1: 1.0117615740463841;
--h2-font-size-display: calc(var(--h2-font-size-h1) * 1.33 );
--h2-line-height-display: 1.1410844820072;
/* Gradients */
--h2-gradient-testGradient: linear-gradient(90deg,green,blue);
--h2-gradient-fallback-testGradient: green;
--h2-gradient-testGradient-locked: linear-gradient(90deg,green,blue);
--h2-gradient-fallback-testGradient-locked: green;
/* Radii */
--h2-radius-testRadius: 20px;
--h2-radius-testRadius-locked: 20px;
/* Shadows */
--h2-shadow-testShadow: 1px 1px 1px green;
--h2-shadow-testShadow-locked: 1px 1px 1px green;
/* Transitions / Durations */
--h2-transition-duration-testDuration: 2s;
--h2-transition-duration-testDuration-locked: 2s;
/* Transitions / Functions */
--h2-transition-function-testFunction: ease;
--h2-transition-function-testFunction-locked: ease;
/* Transitions / Delays */
--h2-transition-delay-testDelay: 2s;
--h2-transition-delay-testDelay-locked: 2s;
}
[data-h2*="dark"][data-h2*="optionalTheme"]{
/* Colors */
--h2-color-testColor: 0, 100, 0;
--h2-color-testColor-testModifier: 85, 107, 47;
--h2-color-testColor-light: 64, 146, 64;
--h2-color-testColor-lighter: 128, 183, 128;
--h2-color-testColor-lightest: 191, 219, 191;
--h2-color-testColor-dark: 0, 83, 0;
--h2-color-testColor-darker: 0, 55, 0;
--h2-color-testColor-darkest: 0, 28, 0;
/* Container widths */
/* Font families */
/* Gradients */
--h2-gradient-testGradient: linear-gradient(90deg,darkgreen,navy);
--h2-gradient-fallback-testGradient: darkgreen;
/* Radii */
/* Shadows */
--h2-shadow-testShadow: 1px 1px 1px darkgreen;
/* Transitions / Durations */
/* Transitions / Functions */
/* Transitions / Delays */
}